a.card {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--text-color);

    .card__title {
      color: var(--primary);
    }
  }
}

a.card__title {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.card {
  $self: &;

  border: none;
  border-radius: 0;
  word-wrap: inherit;
  background: none;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(16 / var(--fz) * var(--fz-em));
  color: var(--text-color);
  padding: calc(32 / var(--fz) * var(--fz-em)) calc(20 / var(--fz) * var(--fz-em));

  @media (min-width: 960px) {
    padding: calc(40 / var(--fz) * var(--fz-em)) calc(32 / var(--fz) * var(--fz-em));
  }

  &--decor {
    position: relative;
    padding-bottom: calc(80 / var(--fz) * var(--fz-em));

    &::before {
      content: '';
      width: calc(40 / var(--fz) * var(--fz-em));
      height: calc(2 / var(--fz) * var(--fz-em));
      background: var(--primary);
      position: absolute;
      bottom: calc(40 / var(--fz) * var(--fz-em));
      left: calc(32 / var(--fz) * var(--fz-em));
    }
  }

  &--contract {
    padding-bottom: calc(264 / var(--fz) * var(--fz-em));
    overflow: hidden;
    margin: 0 calc(-20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin: 0;
    }

    @media (min-width: 960px) {
      padding-bottom: calc(350 / var(--fz) * var(--fz-em));
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(310 / var(--fz) * var(--fz-em));
      height: calc(300 / var(--fz) * var(--fz-em));
      background-image: url(../../img/depositphotos.png);
      background-repeat: no-repeat;
      z-index: 1;

      @media (min-width: 960px) {
        right: calc(-26 / var(--fz) * var(--fz-em));
        width: calc(343 / var(--fz) * var(--fz-em));
        height: calc(377 / var(--fz) * var(--fz-em));
      }
    }
  }

  &--bg {
    background: var(--card-bg);
  }

  &--centered {
    align-items: center;
    text-align: center;

    & .price {
      justify-content: center;
      margin-top: calc(24 / var(--fz) * var(--fz-em));
    }
  }

  &--centered-decor {
    width: 100%;
    padding-bottom: calc(80 / var(--fz) * var(--fz-em));

    &::before {
      content: '';
      width: calc(40 / var(--fz) * var(--fz-em));
      height: calc(2 / var(--fz) * var(--fz-em));
      background: var(--primary);
      position: absolute;
      bottom: calc(40 / var(--fz) * var(--fz-em));
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &--accent {
    background-color: var(--primary);
    color: var(--z-white);
  }

  & &__header {
    & h4 {
      line-height: 1.6;
      font-weight: 600;
    }
  }

  &__icon {
    margin-bottom: calc(24 / var(--fz) * var(--fz-em));

    & .icon {
      --fz: 40;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
      color: var(--primary);
    }
  }

  &--accent {
    & .icon {
      color: var(--z-white);
    }
  }

  &__body {
    position: relative;

    &--auto-top {
      margin-top: auto;
    }
  }

  &__title {
    --fz: 14;

    line-height: 1.5;
    transition: color 0.2s linear;
    font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));
    display: block;
    text-transform: uppercase;
    font-weight: 700;

    &+& {
      margin-top: calc(20 / var(--fz) * var(--fz-em));
    }

    &--large {
      --fz: 20;

      font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));

      line-height: 1.6;
      position: relative;

      @media (min-width: 960px) {
        --fz: 24;
        line-height: 1.5;
      }
    }
  }

  &__description {
    line-height: 1.5;

    &--large {
      @media (min-width: 960px) {
        --fz: 16;
      }

      font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));
      font-weight: 400;
      line-height: 1.7;
    }
  }

  &__footer {
    margin-top: auto;
    z-index: 1;
  }

  &__btn {
    margin-top: calc(24 / var(--fz) * var(--fz-em));
  }
}