.checkmate {
  display: flex;
  flex-wrap: wrap;
  gap: calc(20 / var(--fz) * var(--fz-em));

  @media (min-width: 960px) {
    flex-wrap: nowrap;
  }

  &--reverse {
    @media (min-width: 960px) {
      flex-direction: row-reverse;
    }
  }

  &+& {
    margin-top: calc(30 / var(--fz) * var(--fz-em));
  }

  &__description,
  &__image-container {
    max-width: 100%;
    flex-basis: 100%;

    @media (min-width: 960px) {
      max-width: 50%;
      flex-basis: 50%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-self: center;

    @media (min-width: 960px) {
      padding-right: calc(80 / var(--fz) * var(--fz-em));
    }

    .checkmate--reverse & {

      @media (min-width: 960px) {
        padding-right: calc(85 / var(--fz) * var(--fz-em));
        padding-left: calc(80 / var(--fz) * var(--fz-em));
      }
    }
  }

  & .uk-h2 {
    margin-bottom: 0;
  }

  &--row-mobile {
    flex-direction: row;

    @media (min-width: 960px) {
      flex-direction: column;
    }
  }

  .checkmate--top & {
    gap: calc(20 / var(--fz) * var(--fz-em));
    align-self: flex-start;
  }

  & .btn {
    width: 100%;

    @media (min-width: 960px) {
      width: auto;
      min-width: calc(217 / var(--fz) * var(--fz-em));
    }
  }


  &__title {
    --fz: 32;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: calc(16 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      --fz: 24;

      margin-bottom: calc(24 / var(--fz) * var(--fz-em));
    }

    &--small {
      --fz: 24;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    }

    &--large {
      --fz: 24;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));

      @media (min-width: 960px) {
        --fz: 40;
      }
    }
  }

  &__lead {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: calc(32 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-bottom: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__subtitle {

    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 700;
    line-height: 1.5;
    text-decoration: uppercase;
    margin-bottom: calc(8 / var(--fz) * var(--fz-em));

  }

  &__image-container {
    @media (min-width: 960px) {
      position: relative;
      height: 0;
      padding-bottom: calc(540 / var(--fz) * var(--fz-em));

      .checkmate--vertical & {
        padding-bottom: calc(580 / var(--fz) * var(--fz-em));
      }
    }
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
    }

    @media (min-width: 960px) {
      position: absolute;
      top: 50%;
      left: 0;
      width: calc(960 / var(--fz) * var(--fz-em));
      height: calc(540 / var(--fz) * var(--fz-em));
      transform: translate3d(0, -50%, 0);

      .checkmate--reverse & {
        left: auto;
        right: 0;
      }

      .checkmate--vertical & {
        width: calc(490 / var(--fz) * var(--fz-em));
        height: calc(580 / var(--fz) * var(--fz-em));
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}