.list-border-container {

  &--inside {
    overflow: hidden;
  }

  &--full {
    margin: 0
  }

  &--inside {
    margin: 0 calc(-20 / var(--fz) * var(--fz-em));
  }

  &__item {
    .list-border-container--full & {
      border: 1px solid var(--border-color);
    }

    .list-border-container--inside & {
      border-top: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);
    }

    .list-border-container--full &,
    .list-border-container--inside & {
      padding: 0;
      position: relative;
      margin-top: -1px !important;
      margin-left: -1px !important;

      &.uk-first-column {
        margin: 0;
      }
    }
  }
}

.key-indicator {
  --icon-width: 40;
  --icon-bg: var(--bg-2);
}

.key-indicator {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(24 / var(--fz) * var(--fz-em));
  align-items: center;
  text-align: center;
  padding: calc(20 / var(--fz) * var(--fz-em)) calc(24 / var(--fz) * var(--fz-em)) calc(48 / var(--fz) * var(--fz-em)) calc(24 / var(--fz) * var(--fz-em));
  padding-bottom: 48px;

  @media (min-width: 960px) {
    gap: calc(24 / var(--fz) * var(--fz-em));
    padding: calc(24 / var(--fz) * var(--fz-em)) calc(32 / var(--fz) * var(--fz-em)) calc(48 / var(--fz) * var(--fz-em)) calc(32 / var(--fz) * var(--fz-em));
  }

  &--decor {
    &::before {
      content: '';
      width: 40px;
      height: 2px;
      background: var(--primary);
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &--horizontal {
    flex-direction: column;
    align-items: flex-start;
    padding: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      flex-direction: row;
    }
  }

  &--align-left {
    text-align: left;
  }

  &__body {
    padding: 0 calc(20 / var(--fz) * var(--fz-em));

    .key-indicator--horizontal & {
      padding: 0;
    }
  }

  &__description {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 600;
    line-height: 1.4;
  }

  &__icon {
    color: var(--primary);
    width: calc(var(--icon-width) / var(--fz) * var(--fz-em));
    height: calc(var(--icon-width) / var(--fz) * var(--fz-em));

    &--bg {
      background-color: var(--icon-bg);
      border-radius: 50%;
    }

    .icon {
      width: 100%;
      height: 100%;
    }
  }
}