.large-card {

  &__subtitle {
    margin-top: calc(16 / var(--fz) * var(--fz-em));
    line-height: 1.4;

    @media (min-width: 960px) {
      margin-top: calc(24 / var(--fz) * var(--fz-em));
      max-width: 50%;
    }
  }

  &__header+&__body {
    margin-top: calc(24 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      flex-direction: row;
    }
  }
}