.large-card {
  background-color: var(--z-white);

  @media (min-width: 960px) {
    padding: calc(60 / var(--fz) * var(--fz-em)) calc(100 / var(--fz) * var(--fz-em)) calc(80 / var(--fz) * var(--fz-em));
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.08);
  }

  & h2,
  h3,
  h4 {
    font-weight: 300;
  }

  &--small {
    padding: calc(50 / var(--fz) * var(--fz-em)) calc(0 / var(--fz) * var(--fz-em));
    box-shadow: none;
  }

  &--decor {
    position: relative;
    padding-left: calc(280 / var(--fz) * var(--fz-em));

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(200 / var(--fz) * var(--fz-em));
      height: calc(508 / var(--fz) * var(--fz-em));
      background-image: url("data:image/svg+xml,%3Csvg width='180' height='403' viewBox='0 0 180 403' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M110.642 26.7681L179.999 26.7681L179.999 46.1206L110.642 46.1206L110.642 70.8894L92.9928 70.8894L92.9928 -3.45824e-05L110.642 -3.53539e-05L110.642 26.7681ZM0.0014371 70.827L0.00143403 0.623077L17.0295 0.623077L17.0295 51.8111L34.6797 51.8111L34.6797 0.623076L51.7083 0.623075L51.7083 51.8111L69.9797 51.8111L69.9797 0.623074L87.0078 0.623074L87.0078 70.827L0.0014371 70.827ZM30.2046 95.6831L67.3695 120.167L67.3695 120.664L30.5771 144.899L-1.04617e-05 163.665L-1.13635e-05 143.035L36.7918 120.167L-1.33626e-05 97.2995L-1.42644e-05 76.6684L87.0078 76.6684L87.0078 95.6831L30.2046 95.6831ZM0.00144228 189.387L0.00144144 170.248L87.0078 170.248L87.0078 189.387L0.00144228 189.387ZM87.0087 222.737L87.0087 242.091L17.6502 242.091L17.6502 266.859L0.00144566 266.859L0.00144257 195.97L17.6502 195.97L17.6502 222.737L87.0087 222.737ZM110.563 242.008L110.563 284.412C110.563 289.877 127.621 289.756 127.621 284.206L127.621 251.22C127.621 222.304 180 222.225 180 251.527L180 303.202L177.69 303.202L162.184 296.861L162.184 251.424C162.184 245.974 145.436 246.044 145.436 251.733L145.436 284.104C145.436 313.611 92.7486 313.532 92.7486 284.412L92.7486 234.722L110.563 242.008ZM160.485 342.444L160.485 371.837L180 379.792L180 403L92.3703 365.716L92.3703 344.552L144.126 365.718L144.126 326.048L180 310.784L180 334.489L160.485 342.444ZM145.533 174.974L145.533 207.254C145.533 236.679 92.9919 236.6 92.9919 207.562L92.9919 158.011L110.757 165.276L110.757 207.562C110.757 213.011 127.767 212.891 127.767 207.357L127.767 174.462C127.767 145.627 180 145.549 180 174.768L180 226.3L177.697 226.3L162.235 219.976L162.235 174.666C162.235 169.231 145.533 169.301 145.533 174.974ZM110.021 76.7677L110.021 127.956L127.671 127.956L127.671 76.7677L144.699 76.7677L144.699 127.956L162.971 127.956L162.971 76.7677L179.999 76.7677L179.999 146.972L92.9919 146.972L92.9919 76.7677L110.021 76.7677Z' fill='white'/%3E%3C/svg%3E%0A");
      background-color: var(--bg-2);
      background-repeat: no-repeat;
      background-size: calc(100% - 20px);
      background-position: center 10px;
    }
  }

  &__description-header {
    margin-top: calc(16 / var(--fz) * var(--fz-em));
    line-height: 1.4;

    @media (min-width: 960px) {
      margin-top: calc(24 / var(--fz) * var(--fz-em));
      max-width: 50%;
    }
  }

  &__header+&__body {
    margin-top: calc(24 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__subtitle {
    --fz: 16;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 600;
    line-height: 1.5;
    margin-top: calc(16 / var(--fz) * var(--fz-em));
  }

  &__text {
    margin-top: calc(24 / var(--fz) * var(--fz-em));
    line-height: 1.7;
  }

  &__link {
    display: none;
    margin-top: calc(40 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      display: block;
    }

    &--mobile {
      display: block;
      margin-top: calc(24 / var(--fz) * var(--fz-em));

      @media (min-width: 960px) {
        display: none;
      }
    }
  }

  &__container-img {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(24 / var(--fz) * var(--fz-em));
    row-gap: calc(40 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(-25 / var(--fz) * var(--fz-em));
    }

    & img {
      width: 50%;

      @media (min-width: 960px) {
        max-width: 33%;
      }
    }
  }
}

.column-container {
  display: flex;
  gap: calc(32 / var(--fz) * var(--fz-em));

  @media (min-width: 960px) {
    gap: calc(75 / var(--fz) * var(--fz-em));
  }
}

.card-column {
  gap: calc(24 / var(--fz) * var(--fz-em));


  &__header {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #213966;
    margin-left: calc(3 / var(--fz) * var(--fz-em));
    padding-left: calc(20 / var(--fz) * var(--fz-em));
  }

  &__title {
    font-weight: 700;
    line-height: 1.7;
    text-transform: uppercase;
  }

  &__header+&__body {
    margin-top: calc(24 / var(--fz) * var(--fz-em));
  }
}