.modal {
  max-width: 560px !important;
  padding: calc(80 / var(--fz) * var(--fz-em));
  padding-bottom: calc(120 / var(--fz) * var(--fz-em));
  background-color: var(--modal-bg);
  position: relative;

  &--thanks {
    max-width: 480px !important;

    & .modal__header {
      text-align: center;
    }

    & .modal__body {

      &::before {
        content: '';
        width: calc(40 / var(--fz) * var(--fz-em));
        height: calc(2 / var(--fz) * var(--fz-em));
        background: var(--primary);
        position: absolute;
        bottom: calc(70 / var(--fz) * var(--fz-em));
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }

  &__header {
    position: relative;
    font-weight: 300;
  }

  &__close {
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00072 5.58672L11.9507 0.636719L13.3647 2.05072L8.41472 7.00072L13.3647 11.9507L11.9507 13.3647L7.00072 8.41472L2.05072 13.3647L0.636719 11.9507L5.58672 7.00072L0.636719 2.05072L2.05072 0.636719L7.00072 5.58672Z' fill='%23E6E6E6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: calc(24 / var(--fz) * var(--fz-em));
    height: calc(24 / var(--fz) * var(--fz-em));
  }

  &__text {
    --fz: 16;

    margin-bottom: 0;
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
  }
}