.page-banner {
  background-image: url(../../img/padgebannerfon.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--bg-2);
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: 960px) {
      flex-direction: row-reverse;
      background-position: center;
      background-size: 100% 100%;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 105%;
    height: 0;

    @media (min-width: 960px) {
      padding-left: calc(35 / var(--fz) * var(--fz-em));
    }

    &::before {
      content: "";
      position: absolute;
      left: calc(195 / var(--fz) * var(--fz-em));
      top: calc(370 / var(--fz) * var(--fz-em));
      background-image: url(../../img/logo.svg);
      overflow: hidden;
      background-size: contain;
      width: calc(144 / var(--fz) * var(--fz-em));
      height: calc(24 / var(--fz) * var(--fz-em));
      z-index: 1;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    line-height: 1.7;
    margin-top: calc(24 / var(--fz) * var(--fz-em));
  }

  &__list {
    margin-top: calc(40 / var(--fz) * var(--fz-em));
  }

  & ul {

    @media (min-width: 960px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }

  & li+li {

    @media (min-width: 960px) {
      margin-top: 0;
    }
  }

  & li {

    @media (min-width: 960px) {
      margin-bottom: calc(24 / var(--fz) * var(--fz-em));
      margin-right: calc(10 / var(--fz) * var(--fz-em));
      flex-basis: 45%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      flex-direction: row;
      gap: calc(16 / var(--fz) * var(--fz-em));
    }
  }
}