.pagination {
  line-height: 1.5;
  margin-top: calc(80 / var(--fz) * var(--fz-em));
  margin-bottom: calc(120 / var(--fz) * var(--fz-em));

  &__list {
    justify-content: center;
    gap: calc(20 / var(--fz) * var(--fz-em));
  }

  &__item {
    width: calc(50 / var(--fz) * var(--fz-em));
    height: calc(50 / var(--fz) * var(--fz-em));
    background-color: var(--bg-2);

    &--active {
      background-color: var(--primary);
    }
  }

  &__item-previous {
    margin-right: calc(150 / var(--fz) * var(--fz-em));
  }

  &__item-next {
    margin-left: calc(150 / var(--fz) * var(--fz-em));
  }

  &__text-active {
    color: var(--z-white);
  }


}