.questions {

  &__title,
  &__subtitle {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 600;
    line-height: 1.7;
  }

  &__title {
    padding-bottom: calc(16 / var(--fz) * var(--fz-em));
    border-bottom: 1px solid var(--bg-2);
  }

  &__subtitle {
    margin-top: calc(16 / var(--fz) * var(--fz-em));
  }

  &__content {
    padding-bottom: calc(16 / var(--fz) * var(--fz-em));
    border-bottom: 1px solid var(--bg-2);

    & p {
      line-height: 1.7;
    }
  }
}