.table-price {
  width: 100%;
  line-height: 1.7;
  margin-bottom: calc(60 / var(--fz) * var(--fz-em));

  &__header {
    display: none;

    @media (min-width: 960px) {
      display: block;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-2);

    @media (min-width: 960px) {
      flex-direction: row;
      gap: calc(20 / var(--fz) * var(--fz-em));
    }
  }

  &__gell {
    padding: calc(10 / var(--fz) * var(--fz-em)) calc(10 / var(--fz) * var(--fz-em));
    vertical-align: middle;

    @media (min-width: 960px) {
      padding: calc(12 / var(--fz) * var(--fz-em)) calc(30 / var(--fz) * var(--fz-em));
      max-width: 50%;
      flex-basis: 50%;
    }

    & p {
      display: inline-block;
    }

    &--border {
      border-right: none;

      @media (min-width: 960px) {
        border-right: 1px solid var(--bg-2);
        max-width: 65%;
        flex-basis: 65%;
      }
    }
  }

  & p+p {
    margin-top: 0;
  }

  &__title {
    font-weight: 600;
    padding: calc(12 / var(--fz) * var(--fz-em)) calc(20 / var(--fz) * var(--fz-em)) calc(12 / var(--fz) * var(--fz-em)) calc(40 / var(--fz) * var(--fz-em));
  }

  &__unit {
    font-weight: 600;
  }

  &__footer {
    margin-top: calc(60 / var(--fz) * var(--fz-em));
    line-height: 1.5;
  }
}

.table-price-container {
  @media (min-width: 960px) {
    padding: calc(40 / var(--fz) * var(--fz-em)) calc(100 / var(--fz) * var(--fz-em)) calc(80 / var(--fz) * var(--fz-em)) calc(100 / var(--fz) * var(--fz-em));
    box-shadow: 0 24px 80px 0 rgba(0, 0, 0, 0.078);
  }
}