a.tile {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--text-color);

    .tile__description {
      color: var(--primary);
    }
  }
}

.tile {
  height: 100%;
  position: relative;

  &__list {
    &--stocks {

      @media (min-width: 960px) {
        padding-left: calc(32 / var(--fz) * var(--fz-em));
      }
    }
  }

  &__item {
    padding: calc(24 / var(--fz) * var(--fz-em)) 0;
    border-bottom: 1px solid var(--bg-2);

    @media (min-width: 960px) {
      padding: calc(72 / var(--fz) * var(--fz-em)) calc(32 / var(--fz) * var(--fz-em));
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 56%;
    height: 0;
    min-width: 50%;
    flex-basis: 50%;
  }

  &--play {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: calc(40 / var(--fz) * var(--fz-em));
      height: calc(40 / var(--fz) * var(--fz-em));
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_492_21280)'%3E%3Ccircle cx='31.9984' cy='31.9984' r='25.6' fill='white'/%3E%3Cpath d='M31.9984 57.5984C17.8596 57.5984 6.39844 46.1373 6.39844 31.9984C6.39844 17.8596 17.8596 6.39844 31.9984 6.39844C46.1373 6.39844 57.5984 17.8596 57.5984 31.9984C57.5984 46.1373 46.1373 57.5984 31.9984 57.5984ZM28.4708 22.8208C28.3167 22.718 28.1376 22.659 27.9526 22.6499C27.7676 22.6408 27.5836 22.6821 27.4202 22.7693C27.2569 22.8565 27.1202 22.9864 27.0248 23.1451C26.9293 23.3039 26.8788 23.4855 26.8784 23.6708V40.3261C26.8788 40.5113 26.9293 40.693 27.0248 40.8517C27.1202 41.0105 27.2569 41.1404 27.4202 41.2276C27.5836 41.3148 27.7676 41.3561 27.9526 41.347C28.1376 41.3379 28.3167 41.2788 28.4708 41.176L40.961 32.8509C41.1015 32.7574 41.2166 32.6307 41.2963 32.482C41.376 32.3333 41.4177 32.1672 41.4177 31.9984C41.4177 31.8297 41.376 31.6636 41.2963 31.5149C41.2166 31.3662 41.1015 31.2394 40.961 31.146L28.4682 22.8208H28.4708Z' fill='%23005BAA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_492_21280'%3E%3Crect width='64' height='64' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }

  &--play-large {
    &::before {
      width: calc(64 / var(--fz) * var(--fz-em));
      height: calc(64 / var(--fz) * var(--fz-em));
    }
  }


  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: calc(20 / var(--fz) * var(--fz-em));
    justify-content: center;
  }

  &__description {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    line-height: 1.7;
    font-weight: 400;
    min-width: 50%;
    flex-basis: 50%;
    margin-top: calc(8 / var(--fz) * var(--fz-em));

    &--large {
      --fz: 16;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    }
  }

  &__title {
    font-weight: 600;

    & h4 {
      font-weight: 600;
    }
  }

  &__link {
    margin-top: calc(16 / var(--fz) * var(--fz-em));
  }

  &--horizontal {
    display: flex;
    flex-direction: column;
    gap: 0;

    @media (min-width: 960px) {
      flex-direction: row;
      gap: calc(40 / var(--fz) * var(--fz-em));
    }

    & .tile__image {
      padding-bottom: 56%;

      @media (min-width: 960px) {
        padding-bottom: 30%;
      }
    }
  }

  &--left {

    @media (min-width: 960px) {
      flex-direction: row-reverse;
    }
  }
}