a.tile {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--text-color);

    .tile__description {
      color: var(--primary);
    }
  }
}

.tile {
  height: 100%;
  position: relative;

  &__item {
    padding: calc(24 / var(--fz) * var(--fz-em)) 0;
    border-bottom: 1px solid var(--bg-2);

    @media (min-width: 960px) {
      padding: calc(72 / var(--fz) * var(--fz-em)) calc(32 / var(--fz) * var(--fz-em));
    }

    &:first-child {
      padding-top: 0;
    }

    &--stocks {
      border-bottom: none;
      padding: calc(32 / var(--fz) * var(--fz-em));

      &:nth-child(1),
      &:nth-child(2) {
        padding-top: 0;
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 56%;
    height: 0;
    min-width: 50%;
    flex-basis: 50%;

    .tile--play & {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 32C7.1632 32 0 24.8368 0 16C0 7.1632 7.1632 0 16 0C24.8368 0 32 7.1632 32 16C32 24.8368 24.8368 32 16 32ZM13.7952 10.264C13.6989 10.1998 13.587 10.1628 13.4714 10.1572C13.3557 10.1515 13.2408 10.1773 13.1386 10.2318C13.0365 10.2863 12.9511 10.3675 12.8915 10.4667C12.8318 10.5659 12.8002 10.6794 12.8 10.7952V21.2048C12.8002 21.3206 12.8318 21.4341 12.8915 21.5333C12.9511 21.6325 13.0365 21.7137 13.1386 21.7682C13.2408 21.8227 13.3557 21.8485 13.4714 21.8428C13.587 21.8372 13.6989 21.8002 13.7952 21.736L21.6016 16.5328C21.6894 16.4744 21.7614 16.3952 21.8112 16.3022C21.861 16.2093 21.887 16.1054 21.887 16C21.887 15.8946 21.861 15.7907 21.8112 15.6978C21.7614 15.6048 21.6894 15.5256 21.6016 15.4672L13.7936 10.264H13.7952Z' fill='%23005BAA'/%3E%3C/svg%3E");
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: calc(20 / var(--fz) * var(--fz-em));
    justify-content: center;
  }

  &__description {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    line-height: 1.7;
    font-weight: 400;
    min-width: 50%;
    flex-basis: 50%;
    margin-top: calc(8 / var(--fz) * var(--fz-em));
  }

  &__title {
    font-weight: 600;
  }

  &__link {
    margin-top: calc(16 / var(--fz) * var(--fz-em));
  }

  &--horizontal {
    display: flex;
    flex-direction: column;
    gap: 0;

    @media (min-width: 960px) {
      flex-direction: row;
      gap: calc(40 / var(--fz) * var(--fz-em));
    }

    & .tile__image {
      padding-bottom: 56%;

      @media (min-width: 960px) {
        padding-bottom: 30%;
      }
    }
  }
}