<section class="breadcrumbs-container">
  <div class="uk-container">
    <nav class="breadcrumbs scrollbar">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Бухгалтерские услуги</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Бухгалтерские услуги для ООО</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link">Бухгалтерское сопровождение ООО</span>
        </li>
      </ul>
    </nav>
  </div>
</section>