<div id="catalog" class="header-catalog-nav" uk-offcanvas="overlay: true; mode: none; bg-close: true">
  <div class="uk-offcanvas-bar header-catalog-nav__childs">
    <div class="uk-container">
      <div class="main-nav scrollbar">
        <ul class="main-nav__list main-nav__list--lvl1">
          <li class="main-nav__item main-nav__item--lvl1">
            <a href="#" class="main-nav__link link main-nav__parent">
              {{mixins.icon('buh')}}
              <span>Бухгалтерские услуги</span>
            </a>
            <div class="main-nav__childs scrollbar">
              <div class="uk-container">
                <ul class="main-nav__list main-nav__list--lvl2">
                  <li class="main-nav__item main-nav__item--lvl2">
                    <a href="#" class="main-nav__link link">Подвесные люстры</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl2">
                    <a href="#" class="main-nav__link link">Потолочные люстры</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl2">
                    <a href="#" class="main-nav__link link">Люстры-кольца</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl2">
                    <a href="#" class="main-nav__link link">Прямые люстры</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl2">
                    <a href="#" class="main-nav__link link">Каскадные люстры</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl2">
                    <a href="#" class="main-nav__link link">Люстры-шары</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl2">
                    <a href="#" class="main-nav__link link">Геометрические люстры</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="main-nav__item main-nav__item--lvl1">
            <a href="#" class="main-nav__link link">
              {{mixins.icon('ur')}}
              <span>Юридические услуги</span>
            </a>
          </li>
          <li class="main-nav__item main-nav__item--lvl1">
            <a href="#" class="main-nav__link link">
              {{mixins.icon('audit')}}
              <span>Аудиторские услуги</span>
            </a>
          </li>
          <li class="main-nav__item main-nav__item--lvl1">
            <a href="#" class="main-nav__link link">
              {{mixins.icon('cons')}}
              <span>Консультации</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>