<div class="consultation">
  <div uk-grid class="uk-grid-small uk-flex-middle">
    <div class="uk-width-1-3@m">
      <div class="consultation__image">
        <div class="consultation__img">
          <img src="img/consultation.png" alt="">
        </div>
      </div>
    </div>
    <div class="uk-width-2-3@m">
      <div class="consultation__description">
        <h2>Получите бесплатную консультацию бухгалтера
          и юриста</h2>
        <div class="consultation__input-container">
          <input type="text" class="consultation__input" placeholder="Телефон или e-mail">
          <button class="btn" type="submit"><span>Отправить заявку</span></button>
        </div>
        <div class="consultation__confirm">
          <label class="checkbox checkbox--confirm">
            <div class="checkbox__label">
              <input type="checkbox" class="checkbox__input" checked="checked" value="3" />
              <span class="checkbox__mark"></span>
              <div class="checkbox__text">
                Нажимая на кнопку вы соглашаетесь с <a href="#" class="link">политикой
                  конфиденциальности</a>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>