</main>
</div>
<footer class="footer">
  <div class="footer__container">
    <div class="footer__nav">
      <div class="uk-container uk-container-large">
        <nav class="footer-nav">
          <ul class="footer-nav__list uk-child-width-1-4@m uk-grid-small" uk-grid>
            <li class="footer-nav__item uk-visible@m">
              <a href="#" class="footer-nav__item-title"><span>О компании</span></a>
              <div class="footer-nav__item-body">
                <ul class="footer-nav__item-list">
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Сертификаты</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Отзывы</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Политика
                        конфиденциальности</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Банки-партнеры</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Торшеры</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Контакты</span></a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="footer-nav__item uk-visible@m">
              <a href="#" class="footer-nav__item-title"><span>Клиентам</span></a>
              <div class="footer-nav__item-body">
                <ul class="footer-nav__item-list">
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Акции</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Цены</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Блог</span></a>
                  </li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Словарь</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Вопрос-ответ</span></a></li>
                </ul>
              </div>
            </li>
            <li class="footer-nav__item uk-visible@m">
              <a href="#" class="footer-nav__item-title"><span>Услуги</span></a>
              <div class="footer-nav__item-body">
                <ul class="footer-nav__item-list">
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Бухгалтерские услуги</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Юридические услуги</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Аудиторские услуги</span></a>
                  </li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Консультации</span></a></li>
                  <li class="footer-nav__item-link"><a href="#" class="link"><span>Решения</span></a></li>
                </ul>
              </div>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__item-title"><span>Контакты</span></a>
              <div class="footer-nav__item-body">
                <div class="footer-nav__phone-list">
                  <div class="phone-list">
                    <div class="phone-list__item">
                      <a href="tel:88007005871" class="link">8 (800) 700-58-71</a> <span>Бесплатный звонок</span>
                    </div>
                    <div class="phone-list__item">
                      <a href="tel:+79647655050" class="link">+7 (964) 765-50-50</a>
                    </div>
                    <div class="phone-list__item">
                      <a href="tel:+74959695613" class="link">+7 (495) 969-56-13</a>
                    </div>
                  </div>
                </div>
                <p class="footer-nav__address">127015, г. Москва, ул.Сущевский Вал, дом 5, строение 2, офис 205</p>
                <p class="footer-nav__email">E-mail: <a href="mailto:msk@timeasset.ru" class="link">msk@timeasset.ru</a>
                </p>
                <div class="footer-nav__social">
                  <div class="footer-social">
                    <div class="footer-social__title">Мы в соцсетях:</div>
                    <div class="footer-social__body">
                      {% include "template/social.html" %}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="uk-container uk-container-large">
        <div class="footer-bottom">
          <div class="footer-bottom__logo uk-visible@m">
            {% include "template/logo.html" %}
          </div>
          <div class="footer-bottom__copyright">
            © 2003-2022 Бухгалтерский центр «Time_Asset»
          </div>
          <div class="footer-bottom__design">
            Сайт разработан в студии
          </div>
          <div class="footer-bottom__design-logo">
            <img src="./img/common/design-logo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="footer__icon-list uk-hidden@m">
      <div class="uk-container uk-container-large">
        <ul class="footer-icon-list">
          <li class="footer-icon-list__item">
            <a href="#" class="link link--icon-only">{{mixins.icon('user')}}</a>
          </li>
          <li class="footer-icon-list__item">
            <a href="#" class="link link--icon-only">{{mixins.icon('phone')}}</a>
          </li>
          <li class="footer-icon-list__item">
            <a href="#" class="link link--icon-only">{{mixins.icon('calc')}}</a>
          </li>
          <li class="footer-icon-list__item">
            <a href="#" class="link link--icon-only">{{mixins.icon('search')}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="totop" id="sticky-to-top">{{mixins.icon('arrow-left')}}</a>
{% include "template/header-mobile.html" %}
{% include "template/modal.html" %}
{% include "template/modal-thanks.html" %}
<script src="js/main.js"></script>
<script src="js/partials/app.js"></script>
</body>

</html>