</main>
</div>
<footer class="footer">
  <div class="footer__container">
    <div class="uk-container uk-container-large">
      footer
      {% include "template/logo.html" %}
      <!-- <nav class="footer__nav">
        <div class="footer-nav">
          <div class="footer-nav__list">
            <div class="footer-nav__item footer-nav__logo">
              {% include "template/logo.html" %}
            </div>
            <div class="footer-nav__item footer-nav__catalog">
              <ul uk-accordion class="uk-accordion">
                <li>
                  <a class="uk-accordion-title footer-nav__item-title" href="#" aria-expanded="false"><span>О
                      компании</span></a>
                  <div class="footer-nav__accordion uk-accordion-content" hidden="">
                    <a href="#" class="footer-nav__item-title"><span>О компании</span></a>
                    <div class="footer-nav__item-body">
                      <ul class="footer-nav__item-list">
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Сертификаты</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Отзывы</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Политика
                              конфиденциальности</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Банки-партнеры</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Торшеры</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Контакты</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="footer-nav__item footer-nav__about">
              <ul uk-accordion class="uk-accordion">
                <li>
                  <a class="uk-accordion-title footer-nav__item-title" href="#"
                    aria-expanded="false"><span>Клиентам</span></a>
                  <div class="footer-nav__accordion uk-accordion-content" hidden="">
                    <a href="#" class="footer-nav__item-title"><span>Клиентам</span></a>
                    <div class="footer-nav__item-body">
                      <ul class="footer-nav__item-list">
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Акции</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Цены</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Блог</span></a>
                        </li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Словарь</span></a></li>
                        <li class="footer-nav__item-link"><a href="#" class="link"><span>Вопрос-ответ</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="footer-nav__item footer-nav__contacts">
              <div class="footer-nav__item-title footer-nav__item-title--block"><span>Контакты</span></div>
              <div class="footer-nav__item-body">
                <a href="tel:+74955349700" class="link">+ 7 (495) 534-97-00</a><br>
                <a href="mailto:info@pro-svetshop.ru" class="link">info@pro-svetshop.ru</a>
              </div>
              <div class="footer-nav__item-title footer-nav__item-title--block"><span>Подписывайтесь</span></div>
              <div class="footer-nav__item-body">
                <div class="input input--subscribe">
                  <input type="text" class="input__field" placeholder="Ваш email">
                  <button type="button" class="input__btn">{{mixins.icon('arrow-left')}}</button>
                </div>
              </div>
            </div>
            <div class="footer-nav__item footer-nav__copyright">
              <p>Все права защищены с 2010 года</p>
              <p>ИП Шульга С.Л.<br>
                ИНН 502498582548<br>
                ОГРНИП 320508100118952</p>
            </div>
            <div class="footer-nav__item footer-nav__policy">
              <a href="#" class="link">Договор-оферта</a><br>
              <a href="#" class="link">Политика конфиденциальности</a>
            </div>
            <div class="footer-nav__item footer-nav__follow">
              Следите за нами в соцсетях
            </div>
            <div class="footer-nav__item footer-nav__socials">
              {% include "template/social.html" %}
            </div>
          </div>
        </div>
      </nav> -->
    </div>
  </div>
</footer>
<a href="#" class="totop" id="sticky-to-top">{{mixins.icon('arrow-left')}}</a>
{% include "template/header-mobile.html" %}
{% include "template/modal.html" %}
{% include "template/modal-thanks.html" %}
<script src="js/main.js"></script>
<script src="js/partials/app.js"></script>
</body>

</html>