<form action="" class="form">
  <div class="form__body">
    <div class="form__item">
      <label class="form__label">
        <span>Наименование компании</span>
        <div class="input input--error">
          <input type="text" class="input__field" placeholder="Наименование компании">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>Контактное лицо</span>
        <div class="input input--success">
          <input type="text" class="input__field" placeholder="Контактное лицо">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>Ваш телефон</span>
        <div class="input input--active">
          <input type="text" class="input__field" placeholder="+7(___) ___ - __ - __">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>E-mail</span>
        <div class="input">
          <input type="email" class="input__field" placeholder="E-mail">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>Пароль</span>
        <div class="input">
          <input type="text" class="input__field" placeholder="Пароль">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>Повторите пароль</span>
        <div class="input">
          <input type="text" class="input__field" placeholder="Повторите пароль">
        </div>
      </label>
    </div>
    <div class="form__item">
      <div class="custom-file-upload input">
        <input type="file" id="file" name="myfiles[]" multiple />
      </div>
    </div>
  </div>
  <div class="form__footer">
    <div class="form__item">
      <div uk-grid class="uk-child-width-1-2@m">
        <div>
          <div class="form__btn">
            <button class="btn btn--primary uk-width-1-1" role="button">
              <span>Стать партнером</span>
            </button>
          </div>
        </div>
        <div>
          <div class="form__btn">
            <a class="btn btn--secondary uk-width-1-1" href="/">
              <span>Отмена</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>