<form action="" class="form form--contacts">
  <div class="form__body">
    <div class="form__item">
      <label class="form__label">
        <span>Ваше имя</span>
        <div class="input input--success">
          <input type="text" class="input__field" placeholder="Иван Иванов">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>E-mail</span>
        <div class="input">
          <input type="email" class="input__field" placeholder="E-mail">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>Сообщение</span>
        <div class="input input--textarea">
          <textarea class="input__field scrollbar" placeholder="Текст сообщения" rows="4"></textarea>
        </div>
      </label>
    </div>
  </div>
  <div class="form__footer">
    <div class="form__item">
      <div uk-grid class="uk-child-width-1-2@m">
        <div>
          <div class="form__btn">
            <button class="btn btn--primary uk-width-1-1" role="button">
              <span>Отправить</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form__item">
      <div class="checkbox checkbox--confirm">
        <div class="checkbox__text">
          <span>Нажимая на кнопку "Отправить заявку", я соглашаюсь <a class="link link--bordered" href="#">с политикой
              конфиденциальности</a> </span>
        </div>
      </div>
    </div>
  </div>
</form>