<nav class="header-bottom-nav">
  <ul class="header-bottom-nav__list">
    <li class="header-bottom-nav__item">
      <a href="#" class="header-bottom-nav__link link"><span>Консультация бухгалтера</span></a>
    </li>
    <li class="header-bottom-nav__item">
      <a href="#" class="header-bottom-nav__link link"><span>Бухгалтер удалённо</span></a>
    </li>
    <li class="header-bottom-nav__item">
      <a href="#" class="header-bottom-nav__link link"><span>Бухгалтерские услуги для ООО</span></a>
    </li>
    <li class="header-bottom-nav__item">
      <a href="#" class="header-bottom-nav__link link"><span>Бухгалтерские услуги для ИП</span></a>
    </li>
    <li class="header-bottom-nav__item">
      <a href="#" class="header-bottom-nav__link link"><span>Бухгалтерская отчетность</span></a>
    </li>
  </ul>
</nav>