<div id="header-mobile" uk-offcanvas="overlay: true" class="offcanvas-mobile-menu">
  <div class="uk-offcanvas-bar scrollbar mobile-menu">
    <div class="mobile-nav-container">
      <div class="mobile-menu__services">
        {% include "template/services-list-mobile.html" %}
      </div>
      <div class="mobile-menu__nav search-drop-mobile">
        {% include "template/nav-mobile.html" %}
      </div>
      <div class="mobile-menu__contacts search-drop-mobile">
        {% include "template/header-top-contacts-mobile.html" %}
      </div>
      <div class="mobile-menu__socials search-drop-mobile">
        {% include "template/social.html" %}
      </div>
    </div>
  </div>
</div>