<!DOCTYPE html>
<html lang="en">
{% set sitename = 'Time-asset' %}
{% import "template/_mixins.html" as mixins %}

<head>
  <meta charset="UTF-8">
  <title>{{sitename}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/packages.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/layout/header.css">
  <link rel="stylesheet" href="css/layout/nav.css">
  <link rel="stylesheet" href="css/layout/footer.css">
  <link rel="stylesheet" href="css/layout/aside.css">
  <link rel="stylesheet" href="css/layout/section-grid.css">
  <link rel="stylesheet" href="css/layout/section.css">
  <link rel="stylesheet" href="css/layout/breadcrumbs.css">
  <link rel="stylesheet" href="css/form/form.css">
  <link rel="stylesheet" href="css/additional/tabs.css">
  <link rel="stylesheet" href="css/additional/key-indicator.css">
  <link rel="stylesheet" href="css/additional/tile.css">
  <link rel="stylesheet" href="css/additional/card.css">
  <link rel="stylesheet" href="css/additional/feedback.css">
  <link rel="stylesheet" href="css/additional/large-card.css">
  <link rel="stylesheet" href="css/additional/consultation.css">
  <link rel="stylesheet" href="css/additional/checkmate.css">
  <link rel="stylesheet" href="css/additional/modal.css">
  <link rel="stylesheet" href="css/additional/steps.css">
  <link rel="stylesheet" href="css/additional/slider.css">
  <link rel="stylesheet" href="css/additional/questions.css">
  <link rel="stylesheet" href="css/additional/description-service.css">
  <link rel="stylesheet" href="css/additional/page-banner.css">
  <link rel="stylesheet" href="css/additional/table.css">
  <link rel="stylesheet" href="css/pages/contacts.css">
  <link rel="stylesheet" href="css/pages/content-typography.css">
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
  <link rel="manifest" href="./img/favicon/site.webmanifest">
  <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#1a1a1a">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="body">
  <header class="header" uk-sticky>
    <div class="uk-container uk-container-large">
      header
      {% include "template/logo.html" %}
      <!-- <div class="header__container">
        <div class="header__logo">
          {% include "template/logo.html" %}
        </div>
        <div class="header--desktop">
          <div class="header__top">
            <div class="header-top">
              <div class="header-top__contacts">
                {% include "template/header-top-contacts.html" %}
              </div>
              <div class="header-top__nav">
                {% include "template/header-top-nav.html" %}
              </div>
            </div>
          </div>
          <div class="header__main">
            <div class="header__nav">
              {% include "template/nav.html" %}
            </div>
          </div>
        </div>
        <div class="header--mobile">
          <div class="header__main">
            <div class="header__mobile-services">
              <div class="services-list">
                <div class="services-list__item">
                  <a href="#" class="services-list__icon link link--icon-only">
                    icon
                  </a>
                </div>
                <div class="services-list__item">
                  <a href="#" class="services-list__icon link link--icon-only">
                    icon
                  </a>
                  <span class="uk-badge">1</span>
                </div>
              </div>
            </div>
            <div class="header__mobile-burger">
              <div class="header__burger">
                <div class="header-burger">
                  <button uk-toggle="target: #header-mobile" class="hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                      <span class="hamburger-inner">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </header>
  <div class="page-wrapper">
    <main class="content">