<nav class="header-top-nav">
  <ul class="header-top-nav__list">
    <li class="header-top-nav__item">
      <a href="#" class="header-top-nav__link link"><span>О компании</span></a>
    </li>
    <li class="header-top-nav__item">
      <a href="#" class="header-top-nav__link link"><span>Акции</span></a>
    </li>
    <li class="header-top-nav__item">
      <a href="#" class="header-top-nav__link link"><span>Решения</span></a>
    </li>
    <li class="header-top-nav__item">
      <a href="#" class="header-top-nav__link link"><span>Стоимость</span></a>
    </li>
    <li class="header-top-nav__item">
      <a href="#" class="header-top-nav__link link"><span>Контакты</span></a>
    </li>
  </ul>
</nav>