<div class="header-top-contacts">
  <div class="header-top-contacts__geography">
    <select class="select js-select">
      <option value="Test">Test</option>
      <option value="Test1">Test1</option>
      <option value="Test2">Test2</option>
      <option value="Test3">Test3</option>
      <option value="Test4">Test4</option>
      <option value="Test5">Test5</option>
      <option value="Test6">Test6Test6Test6Test6Test6Test6Test6Test6</option>
      <option value="Test7">Test7</option>
      <option value="Test8">Test8</option>
      <option value="Test9">Test9</option>
    </select>
  </div>
  <div class="header-top-contacts__contacts">
    <div class="contacts-info">
      <div class="contacts-info__phone">
        <a href="tel:+74955349700" class="link"><span>+7 (495) 534-97-00</span></a>
      </div>
      <div class="contacts-info__icon">
        <a href="#" class="link link--icon-only">{{mixins.icon('wtsp')}}</a>
      </div>
      <div class="contacts-info__icon">
        <a href="#" class="link link--icon-only">{{mixins.icon('tg')}}</a>
      </div>
    </div>
  </div>
  <div class="header-top-contacts__work">
    <span class="text-is-highlighted">Вятский переулок, 48 корпус 4, офис 99</span>
  </div>
  <div class="header-top-contacts__work">
    <span class="text-is-highlighted">Ежедневно с 9:00 до 20:00</span>
  </div>
</div>