<div id="modal-3d" uk-modal>
  <div class="modal uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <div class="modal__header">
      <h2 class="modal__title">Задать вопрос</h2>
      <button class="modal__close uk-modal-close" type="button"></button>
    </div>
    <div class="modal__body">
      <form action="" class="form">
        <div class="form__body">
          <div class="form__item">
            <label class="form__label">
              <span>Ваше имя</span>
              <div class="input input--success">
                <input type="text" class="input__field" placeholder="Иван Иванов">
              </div>
            </label>
          </div>
          <div class="form__item">
            <label class="form__label">
              <span>Номер телефона</span>
              <div class="input input--active">
                <input type="text" class="input__field" placeholder="+7(___) ___ - __ - __">
              </div>
            </label>
          </div>
          <div class="form__item">
            <label class="form__label">
              <span>E-mail</span>
              <div class="input">
                <input type="email" class="input__field" placeholder="E-mail">
              </div>
            </label>
          </div>
        </div>
        <div class="form__footer">
          <div class="form__item">
            <div uk-grid class="uk-child-width-1-1">
              <div>
                <div class="form__btn">
                  <button class="btn btn--primary uk-width-1-1" role="button">
                    <span>Отправить заявку</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form__item">
            <div class="checkbox checkbox--confirm">
              <label class="checkbox checkbox--confirm">
                <div class="checkbox__label consultation__checkbox">
                  <input type="checkbox" class="checkbox__input" checked="checked" value="3" />
                  <span class="checkbox__mark"></span>
                  <div class="checkbox__text">
                    Отправляя данную форму вы соглашаетесь с <a href="#" class="link">политикой конфиденциальности</a>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>