<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">
        <span class="link">Каталог</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">
        <span class="link">Новинки</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">
        <span class="link">Светильники</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <ul uk-accordion>
        <li>
          <a href="#" class="mobile-nav__link uk-accordion-title">
            <span class="link">Люстры</span>
          </a>
          <div class="mobile-nav__accordion uk-accordion-content">
            <ul class="mobile-nav__list">
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Подвесные люстры</span>
                </a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Потолочные люстры</span>
                </a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Люстры-кольца</span>
                </a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Прямые люстры</span>
                </a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Каскадные люстры</span>
                </a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Люстры-шары</span>
                </a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Геометрические люстры</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">
        <span class="link">Детский свет</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <ul uk-accordion>
        <li>
          <a href="#" class="mobile-nav__link uk-accordion-title">
            <span class="link">Бра</span>
          </a>
          <div class="mobile-nav__accordion uk-accordion-content">
            <ul class="mobile-nav__list">
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Бра1</span>
                </a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="#">
                  <span class="link">Бра2</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">
        <span class="link">Торшеры</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">
        <span class="link">Настольные лампы</span>
      </a>
    </li>
  </ul>
</nav>