<nav class="top-nav">
  <div class="top-nav__row">
    <ul class="top-nav__list search-drop">
      <li class="top-nav__item top-nav__item--catalog">
        <a href="#" class="top-nav__link link" uk-toggle="target: #catalog">
          <span class="catalog-indicator"></span>
          <span class="top-nav__parent">Каталог</span>
        </a>
        <div id="catalog" class="top-nav__overlay" uk-offcanvas="overlay: true; mode: none; bg-close: true">
          <div class="uk-offcanvas-bar top-nav__childs">
            <div class="uk-container">
              <div class="main-nav scrollbar">
                <ul class="main-nav__list main-nav__list--lvl1">
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link">Новинки</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link">Светильники</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link main-nav__parent">Люстры</a>
                    <div class="main-nav__childs scrollbar">
                      <div class="uk-container">
                        <ul class="main-nav__list main-nav__list--lvl2">
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Подвесные люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Потолочные люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Люстры-кольца</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Прямые люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Каскадные люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Люстры-шары</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Геометрические люстры</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link">Детский свет</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link main-nav__parent">Бра</a>
                    <div class="main-nav__childs scrollbar">
                      <ul class="main-nav__list main-nav__list--lvl2">
                        <li class="main-nav__item main-nav__item--lvl2"><a href="#" class="main-nav__link link">Бра</a>
                        </li>
                        <li class="main-nav__item main-nav__item--lvl2"><a href="#" class="main-nav__link link">Бра
                            2</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link">Торшеры</a>
                  </li>
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link">Настольные лампы</a>
                  </li>
                  <li class="main-nav__item main-nav__item--small">
                    <a href="#" class="main-nav__link link">Доставка и оплата</a>
                  </li>
                  <li class="main-nav__item main-nav__item--small">
                    <a href="#" class="main-nav__link link">Возврат и обмен</a>
                  </li>
                  <li class="main-nav__item main-nav__item--small">
                    <a href="#" class="main-nav__link link">Блог</a>
                  </li>
                </ul>
                <div class="main-nav__image">
                  <div uk-slider class="slider slider--bg">
                    <div class="uk-position-relative uk-light" tabindex="-1">
                      <ul class="slider__list uk-grid uk-grid-small uk-slider-items uk-child-width-1-1">
                        <li class="slider__item">
                          <article class="card card--bg">
                            <div class="card__image">
                              <div class="card__img">
                                <img src="./decor/1.png" alt="product">
                              </div>
                            </div>
                            <div class="card__body">
                              <div class="card__title">Торшер Rondo 450*2300</div>
                              <div class="card__info">
                                <div class="price">
                                  <span class="price__unit">26 780 ₽</span>
                                </div>
                              </div>
                            </div>
                          </article>
                        </li>
                        <li class="slider__item">
                          <article class="card card--bg">
                            <div class="card__image">
                              <div class="card__img">
                                <img src="./decor/2.png" alt="product">
                              </div>
                            </div>
                            <div class="card__body">
                              <div class="card__title">Торшер Rondo 450*2300</div>
                              <div class="card__info">
                                <div class="price">
                                  <span class="price__unit">26 780 ₽</span>
                                </div>
                              </div>
                            </div>
                          </article>
                        </li>
                        <li class="slider__item">
                          <article class="card card--bg">
                            <div class="card__image">
                              <div class="card__img">
                                <img src="./decor/3.png" alt="product">
                              </div>
                            </div>
                            <div class="card__body">
                              <div class="card__title">Торшер Rondo 450*2300</div>
                              <div class="card__info">
                                <div class="price">
                                  <span class="price__unit">26 780 ₽</span>
                                </div>
                              </div>
                            </div>
                          </article>
                        </li>
                        <li class="slider__item">
                          <article class="card card--bg">
                            <div class="card__image">
                              <div class="card__img">
                                <img src="./decor/4.png" alt="product">
                              </div>
                            </div>
                            <div class="card__body">
                              <div class="card__title">Торшер Rondo 450*2300</div>
                              <div class="card__info">
                                <div class="price">
                                  <span class="price__unit">26 780 ₽</span>
                                </div>
                              </div>
                            </div>
                          </article>
                        </li>
                        <li class="slider__item">
                          <article class="card card--bg">
                            <div class="card__image">
                              <div class="card__img">
                                <img src="./decor/5.png" alt="product">
                              </div>
                            </div>
                            <div class="card__body">
                              <div class="card__title">Торшер Rondo 450*2300</div>
                              <div class="card__info">
                                <div class="price">
                                  <span class="price__unit">26 780 ₽</span>
                                </div>
                              </div>
                            </div>
                          </article>
                        </li>
                      </ul>
                      <a class="slider__arr uk-position-center-left uk-position-small" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                      <a class="slider__arr uk-position-center-right uk-position-small" href="#" uk-slidenav-next
                        uk-slider-item="next"></a>
                    </div>
                    <ul class="slider__nav uk-slider-nav uk-dotnav uk-flex-center"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="top-nav__item">
        <a href="#" class="top-nav__link link">
          <span>Новинки</span>
        </a>
      </li>
    </ul>
    <ul class="top-nav__list search-drop">
      <li class="top-nav__item">
        <a href="#" class="top-nav__link link">
          <span>Светильники</span>
        </a>
      </li>
      <li class="top-nav__item">
        <a href="#" class="top-nav__link link" uk-toggle="target: #lustry">
          <span class="top-nav__parent">Люстры</span>
        </a>
        <div id="lustry" class="top-nav__overlay" uk-offcanvas="overlay: true; mode: none">
          <div class="uk-offcanvas-bar top-nav__childs">
            <div class="uk-container">
              <div class="main-nav scrollbar">
                <ul class="main-nav__list main-nav__list--lvl1">
                  <li class="main-nav__item main-nav__item--lvl1">
                    <a href="#" class="main-nav__link link main-nav__parent">Люстры</a>
                    <div class="main-nav__childs scrollbar">
                      <div class="uk-container">
                        <ul class="main-nav__list main-nav__list--lvl2">
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Подвесные люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Потолочные люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Люстры-кольца</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Прямые люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Каскадные люстры</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Люстры-шары</a>
                          </li>
                          <li class="main-nav__item main-nav__item--lvl2">
                            <a href="#" class="main-nav__link link">Геометрические люстры</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="main-nav__image">
                  <a href="#" class="card">
                    <div class="card__labels">
                      <ul class="label-list">
                        <li class="label-list__item">
                          <span>Скидка</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card__image card__image--large">
                      <div class="card__img">
                        <img src="./decor/1.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Торшер Rondo 450*2300</div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit price__unit--through">46 780 ₽</span>
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="top-nav__item">
        <a href="#" class="top-nav__link link">
          <span>Детский свет</span>
        </a>
      </li>
      <li class="top-nav__item">
        <a href="#" class="top-nav__link link">
          <span>Бра</span>
        </a>
      </li>
      <li class="top-nav__item">
        <a href="#" class="top-nav__link link">
          <span>Торшеры</span>
        </a>
      </li>
      <li class="top-nav__item">
        <a href="#" class="top-nav__link link">
          <span>Настольные лампы</span>
        </a>
      </li>
    </ul>
    <div class="top-nav__search-input search-drop" hidden>
      <div class="input input--search">
        <a href="#" class="link link--icon-only" uk-toggle="target: .search-drop; animation: uk-animation-fade">
          {{mixins.icon('cross')}}
        </a>
        <input type="text" class="input__field" placeholder="Поиск">
      </div>
    </div>
    <div class="top-nav__search-overlay search-overlay search-drop uk-offcanvas uk-offcanvas-overlay" hidden>
      <div class="uk-offcanvas-bar search-overlay__container">
        <div class="uk-container">
          <div class="search-overlay__scrollbar scrollbar">
            <section class="section">
              <div class="section__container">
                <div class="section__body">
                  <div uk-grid class="uk-child-width-1-4@l uk-child-width-1-3@m">
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="card card--horizontal">
                        <div class="card__image">
                          <div class="card__img">
                            <img src="./decor/7.png" alt="product">
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__title">Светильник подвесной металлический в форме купола Campana средний
                            черный
                          </div>
                          <div class="card__info">
                            <div class="price">
                              <span class="price__unit price__unit--through">48 980 ₽</span>
                              <span class="price__unit">26 780 ₽</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="section__footer">
                  <a href="#" class="btn btn--secondary"><span>Смотреть все</span></a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="top-nav__services">
      {% include "template/services-list.html" %}
    </div>
  </div>
</nav>