.breadcrumbs-container {
  padding: calc(20 / var(--fz) * var(--fz-em)) 0;
}

.breadcrumbs {
  &.scrollbar {
    padding-bottom: calc(6 / var(--fz) * var(--fz-em));
  }

  &__list {
    display: flex;
  }

  .breadcrumbs__link,
  a.breadcrumbs__link {
    --fz-link: 14;

    font-size: calc(var(--fz-link) / var(--fz) * var(--fz-em));
    font-weight: 400;
    line-height: 1.5;
    color: var(--link-color);
    display: block;
  }

  a.breadcrumbs__link {
    border-bottom: 1px solid transparent;
    border-color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }

  &__item {
    margin-right: calc(5 / var(--fz) * var(--fz-em));
    display: flex;
    align-items: center;
    gap: calc(5 / var(--fz) * var(--fz-em));
    flex-shrink: 0;

    &:not(:last-child) {
      &::after {
        content: " ";
        width: calc(24 / var(--fz) * var(--fz-em));
        height: calc(24 / var(--fz) * var(--fz-em));
        color: var(--link-color);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 8L14 12L10 16' stroke='%239C7C56'/%3e%3c/svg%3e");
      }
    }
  }
}