.footer {
  --fz: 14;

  font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  flex: none;
  line-height: 1.4;
  background-color: var(--footer-bg);
  color: var(--text-color);

  &__nav {
    padding: calc(40 / var(--fz) * var(--fz-em)) 0;

    @media (min-width: 1140px) {
      padding: calc(44 / var(--fz) * var(--fz-em)) 0;
    }
  }

  &__bottom {
    padding: calc(24 / var(--fz) * var(--fz-em)) 0;
    border-top: 1px solid var(--line);
  }
}

.totop {
  --fz: 25;

  position: fixed;
  bottom: calc(40 / var(--fz) * var(--fz-em));
  right: calc(40 / var(--fz) * var(--fz-em));
  background: var(--totop-bg);
  border-radius: 50%;
  width: calc(50 / var(--fz) * var(--fz-em));
  height: calc(50 / var(--fz) * var(--fz-em));
  color: var(--totop-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;

  &.sticky-to-top {
    visibility: visible;
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: var(--totop-color);
  }

  svg {
    transform: rotate(-90deg);
  }
}

.footer-nav {

  &__item-title {
    --fz-title: 14;

    font-size: calc(var(--fz-title) / var(--fz) * var(--fz-em));
    color: var(--text-color);
    border: none;
    line-height: 1.2;
    transition: color 0.2s linear;
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: 700;

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--primary);
    }
  }

  &__item-body {
    margin-top: calc(24 / var(--fz) * var(--fz-em));
  }

  &__item-list {
    >li {
      line-height: 1.2;

      +li {
        margin-top: calc(24 / var(--fz) * var(--fz-em));
      }
    }
  }

  &__address {
    line-height: 1.7;
  }

  &__address,
  &__email {
    margin-top: calc(16 / var(--fz) * var(--fz-em));
  }

  &__social {
    margin-top: calc(32 / var(--fz) * var(--fz-em));
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: calc(20 / var(--fz) * var(--fz-em));
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 960px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &__logo,
  &__design-logo {
    flex-shrink: 0;
  }

  &__logo {
    margin-right: calc(20 / var(--fz) * var(--fz-em));
  }

  &__design {
    @media (min-width: 960px) {
      margin-left: auto;
    }
  }

  &__design,
  &__design-logo {
    order: 0;
    max-width: 45%;

    @media (min-width: 960px) {
      order: 1;
    }
  }

  &__copyright {
    order: 1;
    max-width: 100%;
    flex-basis: 100%;
    text-align: center;

    @media (min-width: 960px) {
      order: 0;
      max-width: none;
      flex-basis: auto;
    }
  }
}

.footer-social {
  display: flex;
  gap: calc(24 / var(--fz) * var(--fz-em));
}

.phone-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: calc(16 / var(--fz) * var(--fz-em)) calc(24 / var(--fz) * var(--fz-em));

  &__item {
    &:first-child {
      max-width: 100%;
      flex-basis: 100%;
    }
  }

  .link {
    font-weight: 600;
    color: var(--text-color);
  }

  span {
    --fz-span: 12;

    font-size: calc(var(--fz-span) / var(--fz) * var(--fz-em));
    margin-left: calc(8 / var(--fz-span) * var(--fz-em));
    display: inline-block;
  }
}