.header-top-nav {
  &__list {
    display: flex;
    align-items: center;
    gap: calc(20 / var(--fz) * var(--fz-em));
  }
}

.header-bottom-nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(20 / var(--fz) * var(--fz-em));
  }
}

.header-catalog-nav {
  top: calc(var(--header-height) *1px - 46px);
  display: none;

  &__childs {
    background-color: var(--z-white);
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 0;
    overflow: inherit;
    left: 0;
    max-width: 100% !important;
    height: 100%;

    >.uk-container {
      position: relative;
      background-color: var(--z-white);
      z-index: 1;
      height: 100%;
      padding: calc(40 / var(--fz) * var(--fz-em)) calc(20 / var(--fz) * var(--fz-em)) calc(40 / var(--fz) * var(--fz-em));

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: var(--line);
        top: 0;
        left: calc(25% + (20 / var(--fz) * var(--fz-em)));
        z-index: 2;
      }
    }
  }
}

.main-nav {
  $self: &;

  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  max-height: calc(100vh - var(--header-height) *1px - 80px);
  display: flex;
  justify-content: space-between;
  overflow: auto;

  &__list {
    position: relative;

    &--lvl1 {
      width: 25%;
    }
  }

  &__item {
    line-height: 1.2;

    &--lvl1 {
      display: block;
      width: 100%;
    }
  }

  &__childs {
    padding-top: calc(4 / var(--fz) * var(--fz-em));

    #{$self}__item--lvl1>& {
      visibility: hidden;
      opacity: 0;
      transition-delay: 0.3s;

      top: 0;
      left: calc(100% + 40 / var(--fz) * (var(--fz-em)));
      width: 100%;
      height: 100%;
      position: absolute;
    }

    #{$self}__item--lvl1:hover>& {
      visibility: visible;
      opacity: 1;
    }

    #{$self}__item--lvl2>& {
      width: 200%;
      display: flex;
    }
  }

  &__link {
    display: block;

    #{$self}__item--lvl1>& {
      --fz-lvl1: 14;

      font-size: calc(var(--fz-lvl1) / var(--fz) * var(--fz-em));
      font-family: var(--font);
      max-width: none;
      flex-basis: auto;
      text-transform: uppercase;
      color: var(--text-color);
      font-weight: 700;
      margin-bottom: calc(40 / var(--fz-lvl1) * var(--fz-em));
      display: flex;
      align-items: center;
      gap: calc(10 / var(--fz-lvl1) * var(--fz-em));

      .icon {
        --fz-icon: 20;
        font-size: calc(var(--fz-icon) / var(--fz-lvl1) * var(--fz-em));
      }
    }

    #{$self}__item--lvl2>& {
      --fz-lvl2: 18;

      font-size: calc(var(--fz-lvl2) / var(--fz) * var(--fz-em));
      padding: calc(5 / var(--fz-lvl2) * var(--fz-em)) 0;
    }
  }
}

a.main-nav__link {
  border: none;
}

// .mobile-menu {
//   --fz: 14;
//   font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));

//   &__services {
//     margin-bottom: calc(20 / var(--fz) * var(--fz-em));
//   }

//   &__nav {
//     border-top: 1px solid var(--line);
//     padding: calc(20 / var(--fz) * var(--fz-em)) 0;
//   }

//   &__nav+&__contacts {
//     padding-top: calc(20 / var(--fz) * var(--fz-em));
//     border-top: 1px solid var(--line);
//   }

//   &__socials {
//     margin-top: calc(20 / var(--fz) * var(--fz-em));
//   }
// }

// .mobile-nav {
//   $self: &;

//   &__item {
//     padding: calc(10 / var(--fz) * var(--fz-em)) 0;

//     #{$self}__accordion & {
//       padding: calc(5 / var(--fz) * var(--fz-em)) 0;
//     }
//   }

//   &__link {
//     --fz-item: 24;

//     font-size: calc(var(--fz-item) / var(--fz) * var(--fz-em));
//     font-family: var(--font);
//     display: block;
//     line-height: 1;

//     &.uk-accordion-title {

//       &::before {
//         display: none;
//       }
//     }

//     #{$self}__accordion & {
//       --fz-item: 14;
//       font-family: var(--font);
//     }
//   }

//   &__accordion {
//     padding: 0 calc(10 / var(--fz) * var(--fz-em));
//   }
// }