.section-grid {
  display: flex;
  flex-wrap: wrap;
  gap: calc(20 / var(--fz) * var(--fz-em));

  @media (min-width: 960px) {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  &__aside {
    position: relative;
    order: 1;
    width: 100%;

    @media (min-width: 960px) {
      order: 0;
      overflow: hidden;
      flex-shrink: 0;
      max-width: calc((330 + 20) / var(--fz) * var(--fz-em));
      flex-basis: calc((330 + 20) / var(--fz) * var(--fz-em));
      margin: 0;
      padding: 0 calc(20 / var(--fz) * var(--fz-em)) calc(20 / var(--fz) * var(--fz-em));
    }
  }

  &__content {
    order: 0;

    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
    }

    @media (min-width: 960px) {
      flex-grow: 1;
    }

    .section--calculator & {
      @media (min-width: 960px) {
        padding-right: calc(120 / var(--fz) * var(--fz-em));
      }
    }

    &>.section:not(.section--filters):not(.section--blog-detail):not(.section--delivery-rules) {
      padding: calc(20 / var(--fz) * var(--fz-em)) 0;
    }

    &>.section:not(.section--filters) {
      @media (min-width: 960px) {
        margin-left: calc(20 / var(--fz) * var(--fz-em));

        .section-grid--reverse & {
          margin-left: 0;
          margin-right: calc(20 / var(--fz) * var(--fz-em));
        }
      }

      .section__header+.section__body {
        margin-top: calc(20 / var(--fz) * var(--fz-em));

        .blog-article & {
          margin-top: calc(10 / var(--fz) * var(--fz-em));
        }
      }
    }
  }
}

.section-grid-aside {
  max-height: calc(100vh - var(--header-height) / var(--fz) * var(--fz-em) - 60px);
}