.section-grid {
  @media (min-width: 960px) {
    display: flex;
    flex-direction: row-reverse;
  }

  &__aside {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      background-color: var(--border-color);
      width: 100vw;
      height: 1px;

      @media (min-width: 960px) {
        display: none;
      }
    }

    &::before {
      left: -50%;
    }

    &::after {
      right: -50%;
    }

    @media (min-width: 960px) {
      overflow: hidden;
      flex-shrink: 0;
      max-width: calc((295 + 20) / var(--fz) * var(--fz-em));
      flex-basis: calc((295 + 20) / var(--fz) * var(--fz-em));
      border-right: 1px solid var(--border-color);
      margin: 0;
      margin-left: calc(-20 / var(--fz) * var(--fz-em));
    }

    &--third {
      @media (min-width: 960px) {
        max-width: calc(33% + (10 / var(--fz) * var(--fz-em)));
        flex-basis: calc(33% + (10 / var(--fz) * var(--fz-em)));
      }
    }

    .delivery-rules & {
      margin-left: 0;
    }
  }

  &__content {
    @media (min-width: 960px) {
      flex-grow: 1;
    }

    &>.section:not(.section--filters):not(.section--blog-detail):not(.section--delivery-rules) {
      padding: calc(20 / var(--fz) * var(--fz-em)) 0;
    }

    &>.section:not(.section--filters) {
      @media (min-width: 960px) {
        margin-left: calc(20 / var(--fz) * var(--fz-em));

        .section-grid--reverse & {
          margin-left: 0;
          margin-right: calc(20 / var(--fz) * var(--fz-em));
        }
      }

      .section__header+.section__body {
        margin-top: calc(20 / var(--fz) * var(--fz-em));

        .blog-article & {
          margin-top: calc(10 / var(--fz) * var(--fz-em));
        }
      }
    }
  }
}

.section-grid-aside {
  max-height: calc(100vh - var(--header-height) / var(--fz) * var(--fz-em) - 60px);
  display: none;
  overflow-x: hidden;

  &.is-opened {
    display: block;
  }

  @media (min-width: 960px) {
    display: block !important;
  }

  &__content {
    padding-bottom: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      padding: calc(20 / var(--fz) * var(--fz-em)) 0;
    }
  }
}