.section {
  $self: &;

  position: relative;

  &--bg {
    background-color: var(--bg-2);
  }

  &--outside {
    @media (min-width: 960px) {
      margin-top: calc(-2 * var(--gutter-top) / var(--fz) * var(--fz-em));
    }
  }

  &__container {
    position: relative;

    .breadcrumbs-container+& {
      @media (min-width: 960px) {
        margin-top: calc(-67 / var(--fz) * var(--fz-em));
      }
    }

    @media (min-width: 960px) {
      &::before {
        .section--bordered-vertical & {
          content: '';
          position: absolute;
          top: calc(-1 * (var(--gutter-top) / var(--fz) * var(--fz-em)));
          left: 20px;
          width: calc(100% - 40px);
          height: calc(100% + ((var(--gutter-top) + var(--gutter)) / var(--fz) * var(--fz-em)));
          background: repeating-linear-gradient(to right,
              #fff,
              #e6e6e6 1px,
              #fff 1px,
              #fff calc(33.3% - 1px));
        }

        .section--bordered-vertical-quatro & {
          background: repeating-linear-gradient(to right,
              #fff,
              #e6e6e6 1px,
              #fff 1px,
              #fff calc(25% - 1px));
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    gap: calc(24 / var(--fz) * var(--fz-em));
    padding-right: calc(80 / var(--fz) *var(--fz-em));
    flex-wrap: wrap;

    @media (min-width: 960px) {
      flex-wrap: nowrap;
    }

    &--centered {
      padding-right: 0;
    }
  }

  &__link {
    flex-shrink: 0;
    padding-bottom: calc(8 / var(--fz) * var(--fz-em));
  }

  &__header,
  &__body {
    position: relative;
  }

  &__header+&__header,
  &__header+&__body,
  &__body+&__header {
    margin-top: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__title {

    & .uk-h2 {
      margin-bottom: 0;
    }

    &--centered {
      width: 100%;
      text-align: center;
    }
  }

  &__title+&__subtitle {
    margin-top: calc(10 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(20 / var(--fz) * var(--fz-em));
    }
  }

  &__subtitle {
    --fz: 18;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-family: var(--font);

    @media (min-width: 960px) {
      --fz: 24;
    }
  }

  &__footer {
    margin-top: calc(20 / var(--fz) * var(--fz-em));

    & .btn:not(.btn--is-fixed) {
      width: 100%;
    }
  }
}