.section {
  $self: &;

  position: relative;

  &--bg {
    background-color: var(--bg-2);
  }

  &__container {
    position: relative;

    &--shadow {

      @media (min-width: 960px) {
        box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.08);
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    gap: calc(24 / var(--fz) * var(--fz-em));
    padding-right: calc(80 / var(--fz) *var(--fz-em));

    &--centered {
      padding-right: 0;
    }
  }

  &__link {
    flex-shrink: 0;
    padding-bottom: calc(8 / var(--fz) * var(--fz-em));
  }

  &__header,
  &__body {
    position: relative;
  }

  &__header+&__header,
  &__header+&__body,
  &__body+&__header {
    margin-top: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__title {

    & .uk-h2 {
      margin-bottom: 0;
    }

    &--centered {
      width: 100%;
      text-align: center;
    }
  }

  &__title+&__subtitle {
    margin-top: calc(10 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(20 / var(--fz) * var(--fz-em));
    }
  }

  &__subtitle {
    --fz: 18;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-family: var(--font);

    @media (min-width: 960px) {
      --fz: 24;
    }
  }

  &__footer {
    margin-top: calc(20 / var(--fz) * var(--fz-em));

    & .btn:not(.btn--is-fixed) {
      width: 100%;
    }
  }
}