button {
  outline: none;

  &:focus {
    outline: none !important;
  }
}

.btn {
  --fz: 14;

  --button-text-color: var(--z-white);
  --button-text-color-hover: var(--z-white);
  --button-bg: var(--primary);
  --button-bg-hover: var(--primary-light);
  --button-border: var(--primary);

  &--secondary {
    --button-text-color: var(--primary);
    --button-text-color-hover: var(--z-white);
    --button-bg: transparent;
    --button-bg-hover: var(--primary);
    --button-border: var(--primary);

    .dark-theme & {
      --button-text-color: var(--z-white);
      --button-text-color-hover: var(--primary);
      --button-bg: transparent;
      --button-bg-hover: var(--z-white);
      --button-border: var(--z-white);
    }

    &.btn--is-disabled {
      --button-text-color-hover: var(--primary);
      --button-bg-hover: transparent;

      .dark-theme & {
        --button-text-color-hover: var(--primary);
        --button-bg-hover: transparent;
      }
    }
  }
}

.btn,
.uk-offcanvas-bar .btn {
  font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  color: var(--button-text-color);
  outline: none;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  display: inline-block;
  border: 1px solid var(--button-border);
  background: var(--button-bg);
  padding: calc(12 / var(--fz) * var(--fz-em)) calc(18 / var(--fz) * var(--fz-em));
  transition: 0.2s linear;
  margin: 0;

  &:hover,
  &:focus {
    color: var(--button-text-color-hover);
    text-decoration: none;
    background-color: var(--button-bg-hover);
  }

  &.btn--is-disabled {
    background: var(--button-bg);

    &:hover,
    &:focus {
      background: var(--button-bg);
    }
  }

  &--icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    span {
      flex-shrink: 0;
    }

    span+span {
      flex-shrink: 1;
      margin-left: calc(10 / var(--fz) * var(--fz-em));
    }

    .icon {
      width: calc(28 / var(--fz) * var(--fz-em));
      height: calc(28 / var(--fz) * var(--fz-em));
    }
  }

  &--is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button__container {
  width: 100%;
  display: flex;
  gap: calc(16 / var(--fz) * var(--fz-em));
  justify-content: center;
}