.contacts-info {
  display: flex;

  &--vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  &__tel-container {
    display: flex;
    gap: calc(24 / var(--fz) * var(--fz-em));
    align-items: flex-end;
    margin-top: calc(8 / var(--fz) * var(--fz-em));
  }

  &__tel {
    --fz: 16;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 600;
    line-height: 1;
    flex-shrink: 0;

    &--large {
      --fz: 24;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    }
  }

  &__text {
    --fz: 12;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  }

  &__icon {
    flex-shrink: 0;

    .header-top-contacts & {
      --fz-icon: 21;

      font-size: calc(var(--fz-icon) / var(--fz) * var(--fz-em));
    }
  }
}