a {
  outline: none;
}

.link,
a.link {
  color: var(--link-color);
  font-weight: 400;
  transition: 0.2s;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    color: var(--link-color-hover);
    text-decoration: none;
    border-color: currentColor;
  }

  &--bordered {
    border-color: currentColor;
  }

  &--icon-only {
    border: none;
  }

  .uk-offcanvas-bar &:not(.social__link):not(.main-nav__link) {
    color: var(--link-color);
    font-weight: 400;
    transition: 0.2s;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      color: var(--link-color-hover);
      text-decoration: none;
      border-color: currentColor;
    }

    &.link--bordered {
      border-color: currentColor;
    }

    &.link--icon-only {
      border: none;
    }
  }

  .uk-offcanvas-bar .mobile-nav__link & {
    border: none;
    color: var(--text-color);

    &:hover,
    &:focus {
      color: var(--link-color);
    }
  }

  .uk-offcanvas-bar .uk-open .mobile-nav__link & {
    color: var(--link-color);
    border: none;
  }

  .uk-offcanvas-bar .mobile-nav__accordion .mobile-nav__link & {
    border: none;
    color: var(--link-color);

    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }
}