a {
  outline: none;
}

.link,
a.link {
  color: var(--link-color);
  font-weight: 400;
  transition: 0.2s;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    color: var(--link-color-hover);
    text-decoration: none;
    border-color: currentColor;
  }

  &--bordered {
    border-color: currentColor;
  }

  &--plus {
    display: block;
    position: relative;
    border-bottom: none;
    padding-left: calc(20 / var(--fz) * var(--fz-em));

    &::before {
      left: 0;
      top: calc(3 / var(--fz) * var(--fz-em));
      content: '';
      width: calc(10 / var(--fz) * var(--fz-em));
      height: calc(10 / var(--fz) * var(--fz-em));
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.16797 5.16797V0.167969H6.83464V5.16797H11.8346V6.83464H6.83464V11.8346H5.16797V6.83464H0.167969V5.16797H5.16797Z' fill='%23213966'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  &--icon-only {
    border: none;
  }

  .uk-offcanvas-bar &:not(.social__link):not(.main-nav__link) {
    color: var(--link-color);
    font-weight: 400;
    transition: 0.2s;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      color: var(--link-color-hover);
      text-decoration: none;
      border-color: currentColor;
    }

    &.link--bordered {
      border-color: currentColor;
    }

    &.link--icon-only {
      border: none;
    }
  }

  .uk-offcanvas-bar .mobile-nav__link & {
    border: none;
    color: var(--text-color);

    &:hover,
    &:focus {
      color: var(--link-color);
    }
  }

  .uk-offcanvas-bar .uk-open .mobile-nav__link & {
    color: var(--link-color);
    border: none;
  }

  .uk-offcanvas-bar .mobile-nav__accordion .mobile-nav__link & {
    border: none;
    color: var(--link-color);

    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }
}