.list {
  *+& {
    margin-top: calc(20 / var(--fz) * var(--fz-em));
  }

  +* {
    margin-top: calc(40 / var(--fz) * var(--fz-em));
  }

  li {
    position: relative;
    padding-left: calc(24 / var(--fz) * var(--fz-em));
  }

  &--ul {
    li {
      --fz: 14;

      line-height: 1.5;
      font-weight: 400;
      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
      color: var(--text-color);

      +li {
        margin-top: calc(20 / var(--fz) * var(--fz-em));

        .key-indicator & {
          margin-top: calc(6 / var(--fz) * var(--fz-em));
        }
      }


    }

    &-dash {
      li::before {
        left: 0;
        top: calc(10 / var(--fz) * var(--fz-em));
        content: '';
        width: calc(8 / var(--fz) * var(--fz-em));
        height: calc(2 / var(--fz) * var(--fz-em));
        position: absolute;
        background-color: var(--primary);
      }
    }

    &-square {
      li::before {
        left: 0;
        top: calc(8 / var(--fz) * var(--fz-em));
        content: '';
        width: calc(6 / var(--fz) * var(--fz-em));
        height: calc(6 / var(--fz) * var(--fz-em));
        position: absolute;
        background-color: var(--primary);
      }
    }

    &-plus {
      li::before {
        left: 0;
        top: calc(6 / var(--fz) * var(--fz-em));
        content: '';
        width: calc(12 / var(--fz) * var(--fz-em));
        height: calc(12 / var(--fz) * var(--fz-em));
        position: absolute;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.16797 5.16797V0.167969H6.83464V5.16797H11.8346V6.83464H6.83464V11.8346H5.16797V6.83464H0.167969V5.16797H5.16797Z' fill='%23213966'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: 50%;
      }
    }
  }

  &--ol {
    counter-reset: list;

    li {
      --fz: 14;

      font-weight: 400;
      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
      color: var(--text-color);
      line-height: 1.5;
      padding-left: calc(40 / var(--fz) * var(--fz-em));
      padding-bottom: calc(40 / var(--fz) * var(--fz-em));

      &:last-child {
        padding-bottom: 0;
      }

      &::before {
        --fz-before: 12;

        position: absolute;
        left: 0;
        top: calc(0 / var(--fz-before) * var(--fz-em));
        font-size: calc(var(--fz-before)/ var(--fz) * var(--fz-em));
        counter-increment: list;
        content: counter(list, decimal);
        color: var(--primary);
        line-height: 1;
        z-index: 1;
        width: calc(24 / var(--fz-before) * var(--fz-em));
        height: calc(24 / var(--fz-before) * var(--fz-em));
        border-radius: 50%;
        background-color: var(--bg-2);
        text-align: center;
        padding-top: calc(6 / var(--fz-before) * var(--fz-em));
      }

      &::after {
        content: '';
        width: calc(2 / var(--fz) * var(--fz-em));
        height: 100%;
        position: absolute;
        top: calc(12 / var(--fz) * var(--fz-em));
        left: calc(11 / var(--fz) * var(--fz-em));
        background-color: var(--bg-2);
        z-index: 0;
      }

      &:last-child {

        &::after {
          display: none;
        }
      }
    }
  }
}