.map-section {
  position: relative;
  padding-bottom: 0;

  .page-banner & {
    padding: 0;

    @media (min-width: 960px) {
      height: 100%;
    }
  }

  &__card {
    @media (min-width: 960px) {
      position: absolute;
      top: calc(20 / var(--fz) * var(--fz-em));
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .page-banner & {
      display: none;
    }
  }

  &__body {
    z-index: 0;
    position: relative;
    margin-top: calc(40 / var(--fz) * var(--fz-em));

    .page-banner & {
      margin-top: 0;
    }

    @media (min-width: 960px) {
      margin-top: 0;
    }

    .page-banner & {
      @media (min-width: 960px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.map-card {
  background-color: var(--z-white);

  @media (min-width: 960px) {
    padding: calc(40 / var(--fz) * var(--fz-em));
    max-width: calc(600 / var(--fz) * var(--fz-em));
    box-shadow: 0 calc(24 / var(--fz) * var(--fz-em)) calc(64 / var(--fz) * var(--fz-em)) rgba(0, 0, 0, 0.08);
  }

  &__title {
    font-size: calc(var(--h4) / var(--fz) * var(--fz-em));
  }

  &__header+&__body {
    margin-top: calc(24 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(32 / var(--fz) * var(--fz-em));
    }
  }

  &__body {
    display: flex;
    gap: calc(16 / var(--fz) * var(--fz-em));
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 960px) {
      flex-wrap: nowrap;
    }
  }

  &__icon {
    border-radius: 50%;
    background-color: var(--bg-2);
    padding: calc(12 / var(--fz) * var(--fz-em));
    flex-shrink: 0;
    flex-basis: calc(48 / var(--fz) * var(--fz-em));
    max-width: calc(48 / var(--fz) * var(--fz-em));

    .icon {
      --fz-icon: 24;

      font-size: calc(var(--fz-icon) / var(--fz) * var(--fz-em));
    }
  }

  &__address {
    line-height: 1.7;
    max-width: calc(100% - ((48 + 16) / var(--fz) * var(--fz-em)));
    flex-basis: calc(100% - ((48 + 16) / var(--fz) * var(--fz-em)));

    @media (min-width: 960px) {
      max-width: none;
      flex-basis: auto;
    }
  }

  &__btn {
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 960px) {
      max-width: none;
      flex-basis: auto;
    }

    .btn {
      width: 100%;

      @media (min-width: 960px) {
        width: auto;
      }
    }
  }
}

.map-container {
  height: 0;
  padding-bottom: calc(560 / var(--fz) * var(--fz-em));
  position: relative;

  .page-banner & {
    @media (min-width: 960px) {
      padding-bottom: 140%;
    }

    @media (min-width: 1200px) {
      padding-bottom: calc(580 / var(--fz) * var(--fz-em));
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .page-banner & {
      margin: 0 -20px;
      width: calc(100% + calc(40 / var(--fz) * var(--fz-em));
      );

      @media (min-width: 960px) {
        margin: 0;
        width: calc(860 / var(--fz) * var(--fz-em));
      }
    }
  }
}