.price {
  display: flex;
  flex-wrap: wrap;
  gap: calc(10 / var(--fz) * var(--fz-em));
  align-items: flex-end;
  color: var(--text-color);
  font-weight: 600;

  &__unit {
    --fz: 24;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    line-height: 0.7;
    flex-shrink: 0;
    white-space: nowrap;

    .price--large & {
      line-height: 1.3;
      font-weight: 700;
    }
  }

  &__label {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));

    .price--large & {
      --fz: 24;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
      font-weight: 700;
      line-height: 1.3;
    }
  }

  &--accent {
    color: var(--primary);
  }
}