.social {
  &__list {
    display: flex;
    align-items: center;
    gap: calc(24 / var(--fz) * var(--fz-em));
  }
}

.social__link,
a.social__link {
  color: var(--link-color);
  display: block;
  border: none;

  &:hover,
  &:focus {
    border: none;
    text-decoration: none;
  }

  & .icon {
    --fz-icon: 20;

    font-size: calc(var(--fz-icon) / var(--fz) * var(--fz-em));
    color: currentColor;
  }
}