.form {
  &--contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item+&__item {
    margin-top: calc(20 / var(--fz) * var(--fz-em));
  }

  &__body {
    .form--contacts & {
      margin-bottom: calc(20 / var(--fz) * var(--fz-em));

      @media (min-width: 960px) {
        margin-bottom: calc(30 / var(--fz) * var(--fz-em));
      }
    }
  }

  &__body+&__footer {
    margin-top: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      margin-top: calc(30 / var(--fz) * var(--fz-em));
    }

    .form--contacts & {
      margin-top: auto;
    }
  }

  &__label {
    display: block;

    >span {
      --fz: 14;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
      margin-bottom: calc(5 / var(--fz) * var(--fz-em));
      font-weight: 400;
      display: block;
    }
  }
}

input,
textarea {
  outline: none;
  border: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  $self: &;

  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--line);
  padding: calc(10 / var(--fz) * var(--fz-em)) calc(15 / var(--fz) * var(--fz-em));
  line-height: 1.5;
  background-color: var(--z-white);

  .footer & {
    background-color: transparent;
  }

  &.error,
  &--error {

    &,
    &:hover,
    &:focus,
    &:active {
      border-color: var(--error);
    }
  }

  &--success {

    &,
    &:hover,
    &:focus,
    &:active {
      border-color: var(--primary);
      box-shadow: 0 0 2px var(--primary);
    }

    .input__field {
      color: var(--primary);
    }
  }

  &--active {
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }

  &--textarea {
    align-items: flex-start;
  }

  &--search {
    width: 100%;

    .icon {
      --fz-icon: 20;

      font-size: calc(var(--fz-icon) / var(--fz) * var(--fz-em));
      flex-shrink: 0;
    }
  }

  &__field {
    --fz: 14;

    width: 100%;
    outline: none;
    border: none;
    font-weight: 400;
    color: var(--text-color);
    padding: 0;
    font-family: var(--font);
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    background: transparent;

    &::placeholder {
      color: var(--text-color);
      transition: opacity 0.2s linear, color 0.2s linear;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &:focus::placeholder {
      opacity: 0.5;
    }

    .input--textarea & {
      width: 100%;
      min-height: calc(80 / var(--fz) * var(--fz-em));
    }
  }

  &__btn {
    background-color: transparent;
    padding: 0;
  }
}

.custom-file-upload-hidden {
  display: none;
  left: -9999px;
  visibility: hidden;
  position: absolute;
}

.custom-file-upload {
  width: auto;
  display: block;
  margin-top: calc(20 / var(--fz) * var(--fz-em));

  label {
    display: block;
    margin-bottom: calc(5 / var(--fz) * var(--fz-em));
  }
}

.file-upload-wrapper {
  position: relative;
}

.file-upload-button {
  border: none;
  cursor: pointer;
  font-weight: 400;
  margin-left: -1px;
  position: relative;
  line-height: 1.375;
  padding: calc(8 / var(--fz) * var(--fz-em));
  display: inline-block;
  color: var(--primary);

  padding-left: calc(24 / var(--fz) * var(--fz-em));
  text-decoration: underline;
  font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));

  span {
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  }

  &:hover {
    text-decoration: none;
  }

  &::before {
    left: 0;
    top: 50%;
    width: calc(16 / var(--fz) * var(--fz-em));
    content: '';
    height: calc(15 / var(--fz) * var(--fz-em));
    position: absolute;
    background-size: contain;
    background-position: 100%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M15.1953 2.05721L14.6093 1.4712C13.5364 0.398277 11.7969 0.398277 10.7239 1.47117C10.7239 1.47117 10.7239 1.47117 10.7239 1.4712L3.23577 8.95933C2.4771 9.718 2.4771 10.9481 3.23577 11.7067L3.62643 12.0974C4.3992 12.8212 5.60106 12.8212 6.37383 12.0974L11.9026 6.56864C12.035 6.44073 12.0386 6.22972 11.9108 6.09728C11.7829 5.96487 11.5719 5.96122 11.4394 6.0891C11.4366 6.09178 11.4339 6.0945 11.4312 6.09728L5.90247 11.626C5.39472 12.1011 4.60555 12.1011 4.09779 11.626L3.70712 11.2354C3.20877 10.7371 3.20871 9.92916 3.707 9.43081C3.70703 9.43078 3.70709 9.43072 3.70712 9.43069L11.1952 1.94252C12.0192 1.15776 13.314 1.15776 14.1379 1.94252L14.7239 2.52853C15.5362 3.34127 15.5362 4.65851 14.7239 5.47124L6.3738 13.8214C5.24681 14.948 3.42006 14.948 2.29307 13.8214L1.51171 13.0407C0.385128 11.9137 0.385128 10.087 1.51171 8.95999L7.90251 2.56922C8.03492 2.44131 8.03861 2.23031 7.9107 2.09787C7.78279 1.96546 7.57178 1.96177 7.43934 2.08968C7.43656 2.09237 7.43385 2.09509 7.43116 2.09787L1.04039 8.48798C-0.346791 9.87513 -0.346791 12.1242 1.04036 13.5114C1.04036 13.5114 1.04039 13.5114 1.04039 13.5114L1.82175 14.2927C3.2089 15.6799 5.45794 15.68 6.84512 14.2928C6.84512 14.2928 6.84515 14.2928 6.84515 14.2927L15.1953 5.94259C16.2682 4.8697 16.2682 3.13014 15.1953 2.05721C15.1953 2.05721 15.1953 2.05721 15.1953 2.05721Z' fill='%23c0aea0'/%3E%3Cpath d='M4.33314 15.3334C3.3905 15.3355 2.48611 14.9608 1.8211 14.2928L1.0404 13.5121C-0.346779 12.1249 -0.34681 9.87588 1.04037 8.4887L1.0404 8.48867L7.43119 2.09787C7.5591 1.96546 7.7701 1.96177 7.90254 2.08968C8.03495 2.21759 8.03863 2.42859 7.91073 2.56103C7.90804 2.56381 7.90532 2.56653 7.90254 2.56922L1.51175 8.95933C0.38517 10.0863 0.38517 11.9131 1.51175 13.0401L2.29311 13.8214C3.42009 14.948 5.24684 14.948 6.37383 13.8214L14.724 5.47127C15.5363 4.65854 15.5363 3.3413 14.724 2.52856L14.1379 1.94255C13.314 1.15779 12.0192 1.15779 11.1952 1.94255L3.7071 9.43065C3.20875 9.92894 3.20868 10.7369 3.70697 11.2352C3.707 11.2352 3.70707 11.2353 3.7071 11.2353L4.09776 11.626C4.60552 12.1011 5.39469 12.1011 5.90244 11.626L11.4312 6.09725C11.5591 5.96484 11.7701 5.96116 11.9025 6.08907C12.0349 6.21697 12.0386 6.42798 11.9107 6.56042C11.908 6.5632 11.9053 6.56592 11.9025 6.5686L6.37383 12.0974C5.60106 12.8212 4.3992 12.8212 3.62644 12.0974L3.23578 11.7067C2.47711 10.9481 2.47711 9.718 3.23578 8.95933L10.7239 1.4712C11.7968 0.398277 13.5363 0.398277 14.6093 1.47117C14.6093 1.47117 14.6093 1.47117 14.6093 1.4712L15.1953 2.05721C16.2682 3.13014 16.2682 4.86967 15.1953 5.94259C15.1953 5.94259 15.1953 5.94259 15.1953 5.94262L6.84518 14.2928C6.18017 14.9608 5.27578 15.3355 4.33314 15.3334Z' fill='%234a4a4a'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='%234a4a4a'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.file-upload-input {
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;

  &:hover,
  &:focus,
  &:active,
  &:active[disabled],
  &:focus[disabled],
  &:hover[disabled] {
    border-color: var(--border-color);
  }
}

.checkbox {
  $self: &;
  --fz: 14;

  font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  cursor: pointer;
  display: block;

  &__label {
    display: inline-flex;
  }

  &__input {
    display: none;
  }

  &__mark {
    flex-shrink: 0;
    width: calc(20 / var(--fz) * var(--fz-em));
    height: calc(20 / var(--fz) * var(--fz-em));
    display: block;
    position: relative;
    background-color: var(--z-white);
    transition: 0.2s linear;
    border: 1px solid var(--primary);
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.1);

    #{$self}--confirm & {
      width: calc(16 / var(--fz) * var(--fz-em));
      height: calc(16 / var(--fz) * var(--fz-em));
      background: transparent;
      border: 1px solid;
    }

    #{$self}:hover &,
    #{$self}:focus & {
      border-color: var(--primary);
    }

    #{$self}__input:checked+& {
      border-color: var(--primary);

      &::after {
        --fz: 8;

        top: 50%;
        left: 50%;
        content: '';
        width: 60%;
        height: 60%;
        font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
        position: absolute;
        background-position: 50%;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        background-size: contain;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.66845 7.11304L10.7964 0.984375L11.7398 1.92704L4.66845 8.99837L0.425781 4.75571L1.36845 3.81304L4.66845 7.11304Z' fill='%23213966'/%3e%3c/svg%3e");
      }
    }

    #{$self}--confirm #{$self}__input:checked+& {
      &::after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.66845 7.11304L10.7964 0.984375L11.7398 1.92704L4.66845 8.99837L0.425781 4.75571L1.36845 3.81304L4.66845 7.11304Z' fill='%23213966'/%3e%3c/svg%3e");
      }
    }
  }

  &__text {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    line-height: 1;
    color: var(--text-color);
    margin-left: calc(12 / var(--fz) * var(--fz-em));
    margin-top: calc(4 / var(--fz) * var(--fz-em));
    font-weight: 400;
    transition: color 0.2s linear;

    #{$self}:hover &,
    #{$self}:focus & {
      color: var(--primary);

      #{$self}--confirm & {
        color: var(--text-color);
      }
    }

    &--small {
      --fz: 12;
    }

    #{$self}__mark:hover+&,
    #{$self}__mark:focus+& {
      color: var(--primary);

      #{$self}--confirm & {
        color: var(--text-color);
      }
    }


    #{$self}__input:checked+#{$self}__mark+& {
      color: var(--primary);

      #{$self}--confirm & {
        color: var(--text-color);
      }
    }

    #{$self}--confirm & {
      font-weight: 400;
      line-height: 1.2;
      color: var(--text-color);
      margin-top: 0;
    }

    #{$self}--confirm:hover &,
    #{$self}--confirm:focus & {
      color: var(--text-color);
    }
  }

  &__icon {
    width: calc(8 / var(--fz) * var(--fz-em));
    height: calc(8 / var(--fz) * var(--fz-em));
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.radio {
  $self: &;

  display: block;
  font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  cursor: pointer;

  &__label {
    display: inline-flex;
  }

  &__input {
    display: none;
  }

  &__mark {
    flex-shrink: 0;
    width: calc(20 / var(--fz) * var(--fz-em));
    height: calc(20 / var(--fz) * var(--fz-em));
    display: block;
    position: relative;
    border-radius: 50%;
    transition: 0.2s linear;
    border: 1px solid var(--text-color);
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.1);

    #{$self}:hover & {
      border-color: var(--primary);
    }


    #{$self}__input:checked+& {
      border-color: var(--primary);
      background-color: var(--primary);
    }

    &::after {
      #{$self}__input:checked+& {
        --fz: 8;

        top: 50%;
        left: 50%;
        content: '';
        width: 60%;
        height: 60%;
        font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
        border-radius: 50%;
        position: absolute;
        transition: 0.2s linear;
        background-position: 50%;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6925 0.319082C20.2824 -0.106361 19.6176 -0.106361 19.2075 0.319082L6.62789 13.3703L1.79248 8.35369C1.38245 7.92824 0.71767 7.92829 0.307555 8.35369C-0.102518 8.77909 -0.102518 9.46878 0.307555 9.89422L5.88543 15.6811C6.29534 16.1065 6.96061 16.1062 7.37036 15.6811L20.6925 1.85966C21.1025 1.43426 21.1025 0.744525 20.6925 0.319082Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__text {
    --fz: 14;

    line-height: 1;
    color: var(--text-color);
    margin-left: calc(16 / var(--fz) * var(--fz-em));
    margin-top: calc(4 / var(--fz) * var(--fz-em));
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 400;
    transition: color 0.2s linear;

    #{$self}:hover &,
    #{$self}:focus & {
      color: var(--primary);
    }

    #{$self}__mark:hover+&,
    #{$self}__mark:focus+& {
      color: var(--primary);
    }

    #{$self}__input:checked+#{$self}__mark+& {
      color: var(--primary);
    }

    &__icon {
      --fz: 16;

      width: calc(8 / var(--fz) * var(--fz-em));
      height: calc(8 / var(--fz) * var(--fz-em));
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}

.select {
  width: 100%;

  +.select2-container {
    width: 100% !important;

    .header & {
      width: calc(90 / var(--fz) * var(--fz-em)) !important;
    }
  }

  +.select2-container .select2-selection--single {
    height: calc(21 / var(--fz) * var(--fz-em));
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 960px) {
      max-height: calc(21 / var(--fz) * var(--fz-em));
    }
  }

  +.select2-container--default .select2-selection--single .select2-selection__rendered {
    --fz-render: 18;

    font-size: calc(var(--fz-render) / var(--fz) * var(--fz-em));
    font-family: var(--font);
    color: var(--primary);
    font-weight: 400;
    padding: 0;
    line-height: 1.4;
  }

  +.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-family: var(--font);
    color: var(--text-color);
    opacity: 0.6;
    font-weight: 400;
  }

  +.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: calc(9 / var(--fz) * var(--fz-em));
    height: calc(9 / var(--fz) * var(--fz-em));
    position: relative;
    margin-left: calc(5 / var(--fz) * var(--fz-em));
    flex-shrink: 0;

    b {
      margin-top: 0;
      margin-left: 0;
      top: 0;
      left: 0;
      border: none;
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46891 0.75L4.5 6L7.53109 0.75H1.46891Z' stroke='%239C7C56'/%3E%3C/svg%3E%0A");
      transition: transform 0.2s ease;
    }
  }

  +.select2-container--open .select2-selection--single .select2-selection__arrow {
    b {
      transform: rotate(180deg);
    }
  }
}

.select2-results__options {
  padding-right: 4px;
}

.select2-container--default .select2-dropdown.select2-dropdown--below {
  min-width: calc(150 / var(--fz) * var(--fz-em));
  border: 1px solid var(--line);
}

.select2-container--default .select2-results__option {
  --fz: 14;

  font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
  overflow: hidden;
  text-overflow: ellipsis;
}

.select2-container--default .select2-results__option--selected {
  background: var(--line);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: var(--header-h1-color);
}