.making-order {

  @media (min-width: 960px) {
    padding-right: calc(60 / var(--fz) * var(--fz-em));
  }

  &__lead {
    line-height: 1.6;
    margin-top: calc(24 / var(--fz) * var(--fz-em));
  }
}