{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__body">
      <div class="page-404">
        <div class="page-404__image">
          <div class="page-404__img">
            <img src="./img/404.png" alt="">
          </div>
        </div>
        <div class="page-404__description">
          <div class="page-404__title">
            <h3>Извините, страница не найдена</h3>
          </div>
          <div class="page-404__lead"><span>Возможно, она была перемещена, или вы просто неверно указали адрес страницы.</span></div>
          <a href="#" class="btn btn--secondary page-404__btn">Перейти на главную страницу</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}