{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
<section class="section page-banner">
  <div class="page-banner__bg" style="background-color: #FAFBFC"></div>
  {% include "template/breadcrumbs.html" %}
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-flex-middle">
      <div class="uk-width-1-2@m uk-flex-last@m">
        <div class="page-banner__image">
          <div class="page-banner__img">
            <img src="./img/accounting1.png" alt="">
          </div>
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <div class="page-banner__container">
          <h1>Бухгалтерские услуги</h1>
          <div class="page-banner__text"><span>Time Asset - это ваша четкая бухгалтерия на аутсорсинге,
              которая работает лучше, чем штатный бухгалтер</span></div>
          <div class="page-banner__buttons">
            <a class="btn" href="#"><span>Заключить договор</span></a>
            <a class="btn" href="#"><span>Задать вопрос</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section section--outside">
  <div class="uk-container section__container">
    <div class="section__body">
      <div class="large-card">
        <div class="large-card__body">
          <section class="section">
            <div class="section__header section__header--centered">
              <article class="card card--centered card--centered-decor">
                <div class="card__header">
                  <h4>Вы можете заключить с нами договор в один клик!</h4>
                </div>
                <div class="card__body">
                  <div class="card__description card__description--large">Документы и счета формируются в автоматическом
                    режиме. Такой же электронный документооборот мы создадим вам.
                  </div>
                </div>
              </article>
            </div>
          </section>
          <section class="section uk-section-small section--collapse-top">
            <div uk-grid class="uk-grid-small uk-child-width-1-3@m">
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('activetime')}}</div>
                    <div class="card__title bold">Актив Ноль</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                      but the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('calc-large')}}</div>
                    <div class="card__title bold">Актив Простой</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                      but
                      the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('cup')}}</div>
                    <div class="card__title bold">Актив Основной</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                      but the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </section>
          <section class="section">
            <div uk-grid
              class="uk-grid-collapse list-border-container list-border-container--inside uk-child-width-1-3@m uk-grid">
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Бухгалтерские услуги
                      для ООО</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Бухгалтерское сопровождение ООО
                        </li>
                        <li>Нулевая отчетность ООО
                        </li>
                        <li>Бухгалтерский учет в ООО
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Бухгалтерские услуги
                      для ИП</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Ведение бухгалтерии ИП
                        </li>
                        <li>Нулевая отчетность ИП
                        </li>
                        <li>Бухгалтерский учет в ИП
                        </li>
                        <li>Бухгалтерское обслуживание ИП
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Бухгалтерская
                      отчетность</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Налоговая отчетность
                        </li>
                        <li>Нулевая отчетность</li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Бухгалтерский учет</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Восстановление бухгалтерского учета
                        </li>
                        <li>Постановка бухгалтерского учета
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Бухгалтерское обслуживание</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Абонентское бухгалтерское обслуживание
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Кадровый учет
                    </div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Персонифицированный учет
                        </li>
                        <li>Расчет заработной платы
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Бухгалтерское сопровождение</div>
                    <div class="card__title">Выписка из ЕГРЮЛ</div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Аутсорсинг бухгалтерии
                    </div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Аутсорсинг ведения бухгалтерского учета
                        </li>
                        <li>Бухгалтер удаленно
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="list-border-container__item uk-first-column">
                <article class="card">
                  <div class="card__header">
                    <div class="card__title">Налоговый консалтинг
                    </div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">
                      <ul class="list list--ul list--ul-empty">
                        <li>Налоговая оптимизация
                        </li>
                        <li>Минимизация налогов
                        </li>
                        <li>Налоговая консультация для ИП
                        </li>
                        <li>Налоговая консультация для ООО
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--bg">
  <div class="uk-container section__container">
    <div class="section__body">
      {% include "template/consultation.html" %}
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header section__header--centered">
      <div class="section__title section__title--centered">
        <h2>Преимущества компании</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small key-indicators uk-child-width-1-3@m">
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('experience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 10 лет
                опыта на рынке
                бухгалтерских услуг</div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('workexperience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 5 лет средний стаж специалистов в нашей компании
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('penalties')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 0 штрафов от налоговой за несвоевременно сданную отчетность
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 15 претензий урегулировано в сторону клиентов со стороны
                налоговой
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> Страховка от ошибок бухгалтера
                на 1 млн. рублей в год
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> >75% аутсорсинг бухгалтерии выгоднее, чем содержание штата
                бухгалтеров
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}