{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="uk-h3">Как принять и оформить иностранца на работу</h1>
      </div>
    </div>
    <div class="section__body uk-grid--small stock">
      <div class="stock__image-container">
        <div class="stock__image">
          <div class="stock__img">
            <img src="./img/signature.png" alt="">
          </div>
        </div>
      </div>
      <div class="stock__description">
        <h4 class="stock__title">Как принять и оформить иностранца на работу</h4>
        <p>Неблагоприятная обстановка экономическая или политическая обстановка в стране толкает любого гражданина искать государства с более благополучной экономической обстановкой.</p>
        <p>Все иностранцы, которые въезжают в любую страну, должны быть поставлены на учет в миграционную службу. По данным статистики в Российскую Федерацию в 2018 году количество иностранцев, которые оформили патенты для того, чтобы работать на территории России, составило 1544313 человек. Большинство иностранцев трудоустраивается в сфере строительства.</p>
        <p>В 2019 г. Минтруд ограничил количество работников, которых можно будет оформить официально. Доля иностранцев в организации рекомендовано, чтобы не превышало 80%.</p>
        <p>Ежегодно в сфере строительства растет количество работников-иностранцев. Поэтому любой работодатель, который принимает работника-иностранца, задумывается: как принять иностранца на работу. Как оформить иностранца, чтобы не привлечь пристальное внимание со стороны контролирующих органов</p>
      </div>
      <div class="stock__description">
        <h4 class="stock__title">Трудовой договор с иностранцем</h4>
        <p>Трудоустройство иностранцев не так усложнено, как кажется на первый взгляд. Договор для трудоустройства иностранца по своему принципу ничем не отличается и не имеет расхождений с договорами, которые заключается с гражданами РФ.</p>
        <p>Договор гражданско-правового характера (Договор ГПХ) — это вид договора между заказчиком и исполнителем, по которому сотрудник получает оплату за заранее определенный результат работы, выполненный внештатно.</p>
        <p>Заключить трудовой договор на иностранца или договор ГПХ с иностранцем работодатель может в том случае, если иностранец оформил все документы для того, чтобы находится на территории РФ легально и иметь право (разрешение) трудоустроится на территории РФ. Мы рекомендовали бы заключать срочные договора ГПХ с иностранцем, допустим на срок действия патента. В преамбуле договора указывается срок действия договора и сведения о наличии патента на право работы (разрешения на работу). В предмете договора прописывается вид выполняемых работ, а в графе о порядке расчета необходимо указывать стоимость работы, которую будет выполнять иностранец.</p>
        <p>Когда заканчивается срок действия патента иностранный гражданин обязан выехать с территории РФ, при этом все договора, которые были с ним заключены, являются недействительными.</p>
        <p>Если заказчик услуг (работодатель) будет продолжать сотрудничать с иностранным гражданином, у которого истек срок патента, то это будет прямым нарушением законодательства, и повлечет за собой штрафные санкции со стороны контролирующих органов.</p>
      </div>
      <div class="stock__description">
        <h4 class="stock__title">Как оформить и принять иностранца на работу</h4>
        <p>Чтобы принять иностранца на работу работодатель должен получить определенный перечень документов, которые иностранный гражданин должен предоставить стороне.</p>
        <p>У любого иностранца должен быть документ подтверждающий личность (национальный паспорт). Если определенная работа предполагает наличие определенных навыков, то иностранному гражданину необходимо иметь документы, подтверждающие наличие данных навыков, те необходим будет документ об определенном образовании. В остальном пакет документов, чтобы заключить трудовой договор с иностранцем, определяетсяв зависимости от вида легализации пребывания иностранца на территории РФ. Данный пакет документов определяется положениями закона № 115-ФЗ.</p>
        <p>Если иностранец пребывает на территории РФ до 183 суток, то он считается временно пребывающим. Для заключения договора необходим патент (разрешение на работу) в том регионе, где будут оказываться работы. Данный вид документа могут не оформлять иностранцы, которые являются беженцами, студентами-иностранцами, работающие на каникулах; иностранцы, являющиеся членами ЕАЭС (Беларусь, Киргизия, Армения, Казахстан). Следующим документом, который необходим, чтобы заключить трудовой договор с иностранцем, является миграционная карта или виза. Также СНИЛС или страховой номер индивидуального лицевого счета для перечисления налогов. Если у иностранца нет данного документа, то СНИЛС необходимо оформить работодателю.
          Если иностранец является временно проживающим на территории РФ, т. е. иностранный гражданин оформил документ разрешение на временное проживание (РВП). Чтобы оформить иностранца по договору ГПХ, то необходим РВП и СНИЛС.
          Если иностранец является постоянно проживающим на территории РФ, те иностранный гражданин оформил документ вид на жительство на территории РФ (ВНЖ). Чтобы принять иностранца на работу, в данном случае, необходим вид на жительство и СНИЛС.
          По российскому законодательству заказчик услуг (работодатель) обязан сообщить в местное ГУВМ МВД о том, что он решил принять на работу иностранца. Срок оповещения составляет 3 рабочих дня с момента заключения договора. Всю информацию можно уточнить в приказе МВД РФ № 11 от 10.01.2018 г. Когда любой иностранный гражданин трудоустраивается на территории РФ, то он обязан оплачивать налог на доход физических лиц (НДФЛ). Оплата налога исчисляется в зависимости от времени пребывания иностранца на территории РФ. Для временно пребывающих иностранных граждан (нерезидентов), т. е. которые находятся на территории РФ менее 183суток, НДФЛ составляет 30%, а для всех остальных 13%. Также если иностранец является беженцем, или высококвалифицированным специалистом НДФЛ будет составлять 13%. Если иностранец является гражданином страны, являющейся членом ЕАЭС, не зависимо является иностранец резидентом или нет, то НДФЛ — 13%.</p>
        <p>Страховые выплаты для иностранца зависят количество дней пребывания иностранца на территории РФ. Для временно пребывающих до 183 суток обязательное пенсионное страхование (ОПС) составят 22% от суммы, которая указана в договоре, обязательное социальное страхование иностранца (нетрудоспособность и материнство) — 1,8%, медицинское страхование не начисляется. Для всех остальных — ОПС составляет 22%, обязательное социальное страхование иностранца — 2,9%, медицинское страхование — 5,1%.</p>
        <p>По взносам на «травматизм», если их оплата прописана в договоре, они оплачиваются в ФСС на общих.</p>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--bg">
  <div class="uk-container section__container">
    <div class="section__body">
      {% include "template/consultation.html" %}
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header section__header--centered">
      <div class="section__title section__title--centered">
        <h2>Преимущества компании</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small key-indicators uk-child-width-1-3@m">
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('experience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 10 лет опыта на рынке бухгалтерских услуг</div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('workexperience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 5 лет средний стаж специалистов в нашей компании
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('penalties')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 0 штрафов от налоговой за несвоевременно сданную отчетность
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 15 претензий урегулировано в сторону клиентов со стороны
                налоговой
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> Страховка от ошибок бухгалтера
                на 1 млн. рублей в год
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> >75% аутсорсинг бухгалтерии выгоднее, чем содержание штата
                бухгалтеров
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--bordered-vertical">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Блог</h2>
      </div>
      <div class="section__link">
        <a href="#" class="link">Показать все</a>
      </div>
    </div>
    <div class="section__body">
      <div class="slider uk-slider slider--arr-outside" uk-slider>
        <div class="uk-position-relative">
          <div class="slider__container uk-slider-container">
            <ul class="slider__list uk-slider-items uk-grid uk-grid-small uk-child-width-1-3@m">
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image23.jpg" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерского учета в агентствах недвижимости</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image27.png" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерской документации фитнес-залов</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image26.png" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Если юридическое лицо не подает признаков жизни</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image23.jpg" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерского учета в агентствах недвижимости</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <div class="card-logo">
                  <div class="card-logo__image">
                    <div class="card-logo__img">
                      <img src="./img/vtb.png" alt="" width="600" height="600">
                    </div>
                  </div>
                </div>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image27.png" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерской документации фитнес-залов</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <a class="slider__arr uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="slider__arr uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}