{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="uk-h3">Калькулятор</h1>
      </div>
    </div>
    <div class="section__body uk-grid--small">
    </div>
  </div>
</section>
<section class="section">
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-child-width-1-1">
      <div class="section__body">
        <div class="large-card">
          <div class="large-card__header">
            <h2>Выберите тарифный план</h2>
            <div class="large-card__description-header">
              <span>There are many variations of passages of Lorem Ipsum available, but the majority
                have</span>
            </div>
          </div>
          <div class="large-card__body">
            <div uk-grid class="uk-grid-small uk-child-width-1-3@m">
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('activetime')}}</div>
                    <div class="card__title bold">Актив Ноль</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem
                      Ipsum available,
                      but the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('calc-large')}}</div>
                    <div class="card__title bold">Актив Простой</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem
                      Ipsum available,
                      but
                      the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('cup')}}</div>
                    <div class="card__title bold">Актив Основной</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem
                      Ipsum available,
                      but the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section section--bordered-vertical section--bordered-vertical-quatro">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Способы заключения договора</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-collapse uk-child-width-1-4@l uk-child-width-1-2@s">
        <div>
          <article href="#" class="card card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('paperdoc')}}</div>
              <div class="card__title bold">Подписание в бумажном
                виде</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum
                available,
                but
                the
              </div>
            </div>
          </article>
        </div>
        <div>
          <article href="#" class="card card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('scan')}}</div>
              <div class="card__title bold">Путем обмена
                сканами
              </div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum
                available,
                but
                the
              </div>
            </div>
          </article>
        </div>
        <div>
          <article class="card dark-theme card--accent">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('electronicdoc')}}</div>
              <div class="card__title bold">Электронный документооборот</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum
                available,
                but
                the
              </div>
            </div>
            <div class="card__footer">
              <div class="card__btn">
                <a href="#" class="btn btn--secondary">Заключить договор</a>
              </div>
            </div>
          </article>
        </div>
        <div>
          <article href="#" class="card card--bg card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('payinvoice')}}</div>
              <div class="card__title bold">Путем оплаты первого счета</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum
                available,
                but
                the
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--bg">
  <div class="uk-container section__container">
    <div class="section__body">
      {% include "template/consultation.html" %}
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header section__header--centered">
      <div class="section__title section__title--centered">
        <h2>Преимущества компании</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small key-indicators uk-child-width-1-3@m">
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('experience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 10 лет опыта на рынке бухгалтерских услуг</div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('workexperience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 5 лет средний стаж специалистов в нашей компании
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('penalties')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 0 штрафов от налоговой за несвоевременно сданную отчетность
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 15 претензий урегулировано в сторону клиентов со стороны
                налоговой
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> Страховка от ошибок бухгалтера
                на 1 млн. рублей в год
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> >75% аутсорсинг бухгалтерии выгоднее, чем содержание штата
                бухгалтеров
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}