{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section section--margin-bottom section--border section--border-bottom section--border-bottom-outside">
  <div class="uk-container section__container">
    <div class="section__body">
      <div uk-grid class="uk-grid-small card-list uk-grid">
        <div class="uk-width-1-2@s card-list__item uk-first__item">
          <div class="contacts">
            <div class="contacts__title">
              <h1 class="uk-h2">Контакты</h1>
            </div>
            <div class="contacts__body">
              <div class="contacts__info">
                <div class="contacts-info contacts-info--vertical">
                  <div class="contacts-info__phone"><a href="tel:+7 (495) 534-97-00" class="link"><span>+7 (495)
                        534-97-00</span></a></div>
                  <div class="contacts-info__email"><a href="mailto:info@pro-svetshop.ru"
                      class="link"><span>info@pro-svetshop.ru</span></a></div>
                  <div class="contacts-info__address">
                    <address>Москва, Пречистенская наб., д.43/12, офис 14</address>
                  </div>
                </div>
              </div>
              <div class="contacts__props">
                ИП Шульга С.Л.<br>
                ИНН 502498582548<br>
                ОГРНИП 320508100118952
              </div>
            </div>
            <div class="contacts__footer">
              <p>Заполните форму и мы свяжемся с вами
                как можно скорее, или сделайте заказ по телефону</p>
              <p><a href="tel:+74955349700" class="link">+7 (495) 534-97-00</a></p>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div class="card card--custom-bg" style="background-color: #F7F4EF;">
            {% include "template/form-contacts.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}