{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="uk-h3">Отзывы</h1>
      </div>
    </div>
    <div class="section__body uk-grid--small">
      <div class="feedback__list">
        <div uk-grid class="uk-grid--small uk-child-width-1-2@m">
          <div>
            <div class="feedback__description">
              <div>
                <article class="person">
                  <div class="person__image">
                    <div class="person__img">
                      <img src="./img/ivanov.jpg" alt="product">
                    </div>
                  </div>
                  <div class="person__body">
                    <div class="person__name">Иван Иванов</div>
                    <div class="person__info">
                      <div class="person__post">Генеральный Директор</div>
                      <div class="person__company">ООО «Универсальная Проектная Сеть»</div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="feedback__text">It is a long established fact that a reader will be distracted
                by the
                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here',
                making it look like.
              </div>
              <div class="feedback__link">
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkplus')}}</span><span>Читать полностью</span>
                  </a>
                </div>
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkdoc')}}</span><span>Оригинал отзыва</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div uk-lightbox class="feedback__video">
              <a class="tile tile--play" href="https://www.youtube.com/watch?v=YE7VzlLtp-4">
                <div class="tile__image">
                  <div class="tile__img">
                    <img src="./img/videoposter.png" alt="">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
          <div>
            <div class="feedback__description">
              <div>
                <article class="person">
                  <div class="person__image">
                    <div class="person__img">
                      <img src="./img/ivanov.jpg" alt="product">
                    </div>
                  </div>
                  <div class="person__body">
                    <div class="person__name">Иван Иванов</div>
                    <div class="person__info">
                      <div class="person__post">Генеральный Директор</div>
                      <div class="person__company">ООО «Универсальная Проектная Сеть»</div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="feedback__text">It is a long established fact that a reader will be distracted
                by the
                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here',
                making it look like.
              </div>
              <div class="feedback__link">
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkplus')}}</span><span>Читать полностью</span>
                  </a>
                </div>
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkdoc')}}</span><span>Оригинал отзыва</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div uk-lightbox class="feedback__video">
              <a class="tile tile--play" href="https://www.youtube.com/watch?v=YE7VzlLtp-4">
                <div class="tile__image">
                  <div class="tile__img">
                    <img src="./img/videoposter.png" alt="">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
          <div>
            <div class="feedback__description">
              <div>
                <article class="person">
                  <div class="person__image">
                    <div class="person__img">
                      <img src="./img/ivanov.jpg" alt="product">
                    </div>
                  </div>
                  <div class="person__body">
                    <div class="person__name">Иван Иванов</div>
                    <div class="person__info">
                      <div class="person__post">Генеральный Директор</div>
                      <div class="person__company">ООО «Универсальная Проектная Сеть»</div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="feedback__text">It is a long established fact that a reader will be distracted
                by the
                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here',
                making it look like.
              </div>
              <div class="feedback__link">
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkplus')}}</span><span>Читать полностью</span>
                  </a>
                </div>
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkdoc')}}</span><span>Оригинал отзыва</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div uk-lightbox class="feedback__video">
              <a class="tile tile--play" href="https://www.youtube.com/watch?v=YE7VzlLtp-4">
                <div class="tile__image">
                  <div class="tile__img">
                    <img src="./img/videoposter.png" alt="">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
          <div>
            <div class="feedback__description">
              <div>
                <article class="person">
                  <div class="person__image">
                    <div class="person__img">
                      <img src="./img/ivanov.jpg" alt="product">
                    </div>
                  </div>
                  <div class="person__body">
                    <div class="person__name">Иван Иванов</div>
                    <div class="person__info">
                      <div class="person__post">Генеральный Директор</div>
                      <div class="person__company">ООО «Универсальная Проектная Сеть»</div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="feedback__text">It is a long established fact that a reader will be distracted
                by the
                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here',
                making it look like.
              </div>
              <div class="feedback__link">
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkplus')}}</span><span>Читать полностью</span>
                  </a>
                </div>
                <div>
                  <a href="#" class="link link--icon">
                    <span class="link__icon">{{mixins.icon('linkdoc')}}</span><span>Оригинал отзыва</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div uk-lightbox class="feedback__video">
              <a class="tile tile--play" href="https://www.youtube.com/watch?v=YE7VzlLtp-4">
                <div class="tile__image">
                  <div class="tile__img">
                    <img src="./img/videoposter.png" alt="">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="pagination">
          <ul class="uk-pagination" uk-margin>
            <li><a href="#"><span uk-pagination-previous></span></a>
            </li>
            <li><a href="#">1</a></li>
            <li class="uk-active"><span>5</span></li>
            <li class="uk-disabled"><span>...</span></li>
            <li><a href="#">20</a></li>
            <li><a href="#"><span uk-pagination-next></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--bg">
  <div class="uk-container section__container">
    <div class="section__body">
      {% include "template/consultation.html" %}
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__body">
      <div uk-grid class="uk-grid-small uk-child-width-1-1">
        <div>
          <div class="large-card">
            <div class="large-card__header">
              <h2>Часто задаваемые вопросы</h2>
            </div>
            <div class="large-card__body">
              <ul uk-accordion class="accordion">
                <li class="uk-open accordion__item">
                  <a class="uk-accordion-title accordion__title" href="#">Мы планировали взять
                    штатного бухгалтера. В чем отличие и удобство бухгалтерского аутсорсинга?</a>
                  <div class="uk-accordion-content accordion__content">
                    <p>Тариф рассчитывается индивидуально на каждого клиента и зависит от таких
                      показателей, как количество бухгалтерских операций в месяц, количество
                      сотрудников, система налогообложения, вид деятельности и др.</p>
                    <div class="accordion__subtitle">Стоимость услуг:</div>
                    <ul class="list list--ul list--ul-dash">
                      <li><a href="#"><span>Бухгалтерское обслуживание</span></a>
                      </li>
                      <li><a href="#"><span>Юридическое обслуживание</span></a>
                      </li>
                      <li><a href="#"><span>Аудиторские услуги</span></a></li>
                    </ul>
                  </div>
                </li>
                <li class="accordion__item">
                  <a class="uk-accordion-title accordion__title" href="#">Работает ли центр с
                    плательщиками торгового сбора? Как правильно оформить документы?</a>
                  <div class="uk-accordion-content accordion__content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo
                      consequat.
                      Duis aute irure dolor reprehenderit.</p>
                  </div>
                </li>
                <li class="accordion__item">
                  <a class="uk-accordion-title accordion__title" href="#">С какими налоговыми режимами
                    работает центр?</a>
                  <div class="uk-accordion-content accordion__content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                      eu fugiat nulla
                      pariatur.
                      Excepteur sint occaecat cupidatat proident.</p>
                  </div>
                </li>
                <li>
                  <a class="uk-accordion-title accordion__title" href="#">Какие методы налоговой
                    оптимизации применяются? Какие гарантии у клиента?</a>
                  <div class="uk-accordion-content accordion__content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                      eu fugiat nulla
                      pariatur.
                      Excepteur sint occaecat cupidatat proident.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}