{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
<section class="section uk-section">
  <div class="page-banner">
    <div class="uk-container section__container">
      <div uk-grid class="uk-grid-small uk-flex-middle">
        <div class="page-banner__container">
          <div class="uk-width-1-2@m">
            <div class="page-banner__image">
              <div class="page-banner__img">
                <img src="img/watch.png" alt="">
              </div>
            </div>
          </div>
          <div class="uk-width-1-2@m">
            <div class="page-banner__description">
              <h1>Мы не имеем права
                ошибиться или опоздать</h1>
              <div class="page-banner__text"><span>Time Asset - это ваша четкая бухгалтерия на аутсорсинге,
                  которая работает лучше, чем штатный бухгалтер</span></div>
              <ul class="list list--ul list--ul-square page-banner__list">
                <li>Оперативность в работе
                </li>
                <li>Четкость в документах
                </li>
                <li>Своевременность в отчетах
                </li>
                <li>Скорость в ответах</li>
              </ul>
              <div class="page-banner__buttons">
                <button class="btn" type="submit"><span>Отправить заявку</span></button>
                <button class="btn" type="submit"><span>Отправить заявку</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-child-width-1-1">
      <div>
        <div class="large-card">
          <div class="large-card__header">
            <h2>Выберите тарифный план</h2>
            <div class="large-card__description-header">
              <span>There are many variations of passages of Lorem Ipsum available, but the majority have</span>
            </div>
          </div>
          <div class="large-card__body">
            <div uk-grid class="uk-grid-small uk-child-width-1-3@m">
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('activetime')}}</div>
                    <div class="card__title bold">Актив Ноль</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                      but the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('calc-large')}}</div>
                    <div class="card__title bold">Актив Простой</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                      but
                      the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
              <div>
                <article class="card card--centered card--bg">
                  <div class="card__header">
                    <div class="card__icon">{{mixins.icon('cup')}}</div>
                    <div class="card__title bold">Актив Основной</div>
                  </div>
                  <div class="card__body">
                    <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                      but the
                    </div>
                    <div class="card__price">
                      <div class="price">
                        <div class="price__label">от </div>
                        <div class="price__unit">5 500</div>
                        <div class="price__label"> руб/мес</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer">
                    <div class="card__btn">
                      <a href="#" class="btn btn--primary">Заключить договор</a>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-child-width-1-1">
      <div>
        <div class="checkmate checkmate--bg">
          <div class="checkmate__description">
            <div class="checkmate__header">
              <div class="checkmate__subtitle">Занимайтесь развитием своего бизнеса</div>
              <h4 class="checkmate__title">Мы возьмем полную ответственность
                за вашу бухгалтерию.</h4>
            </div>
            <div class="checkmate__body">
              <p class="checkmate__lead">Мы готовы начать помогать вам с ведением бухгалтерии прямо сейчас.
                Даже если у вас полный …. с бухгалтерией, мы вырулим из любой ситуации.
                Получите бесплатную консультацию от наших ведущих специалистов.
              </p>
              <p>
                <a class="btn btn--secondary" href="#">Оставить заявку</a>
              </p>
            </div>
          </div>
          <div class="checkmate__image-container">
            <div class="checkmate__image">
              <img src="./img/frame28754.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Преимущества компании</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small key-indicators uk-child-width-1-3@m">
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('experience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 10 лет
                опыта на рынке
                бухгалтерских услуг</div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('workexperience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 5 лет средний стаж специалистов в нашей компании
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('penalties')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 0 штрафов от налоговой за несвоевременно сданную отчетность
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 15 претензий урегулировано в сторону клиентов со стороны налоговой
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> Страховка от ошибок бухгалтера
                на 1 млн. рублей в год
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> >75% аутсорсинг бухгалтерии выгоднее, чем содержание штата бухгалтеров
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Способы заключения договора</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-collapse uk-child-width-1-4@l uk-child-width-1-2@s">
        <div>
          <article href="#" class="card card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('paperdoc')}}</div>
              <div class="card__title bold">Подписание в бумажном
                виде</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
          </article>
        </div>
        <div>
          <article href="#" class="card card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('scan')}}</div>
              <div class="card__title bold">Путем обмена
                сканами
              </div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
          </article>
        </div>
        <div>
          <article class="card dark-theme card--accent">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('electronicdoc')}}</div>
              <div class="card__title bold">Электронный документооборот</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
            <div class="card__footer">
              <div class="card__btn">
                <a href="#" class="btn btn--secondary">Заключить договор</a>
              </div>
            </div>
          </article>
        </div>
        <div>
          <article href="#" class="card card--bg card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('payinvoice')}}</div>
              <div class="card__title bold">Путем оплаты первого счета</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-child-width-1-1">
      <div>
        <div class="checkmate checkmate--reverse checkmate--bg">
          <div class="checkmate__description">
            <div class="checkmate__header">
              <h2 class="checkmate__title">
                О компании TimeAsset
              </h2>
            </div>
            <div class="checkmate__body">
              <p class="checkmate__lead">It is a long established fact that a reader will be distracted by the
                readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                a
                more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making
                it look like readable English
              </p>
              <p>
                <a class="btn btn--secondary" href="#">Подробнее</a>
              </p>
            </div>
          </div>
          <div class="checkmate__image-container">
            <div class="checkmate__image">
              <img src="./img/image39.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-child-width-1-1">
      <div>
        <div class="large-card">
          <div class="large-card__header">
            <h3>Преимущества ведения бухгалтерского учета на аутсорсинге
            </h3>
          </div>
          <div class="large-card__body">
            <div class="column-container">
              <div class="column-container__item card-column">
                <div class="card-column__header">
                  <div class="card-column__title">Иметь штатного бухгалтера:</div>
                  <div class="price price--accent price--large">
                    <div class="price__label">Цена - </div>
                    <div class="price__unit">40 000</div>
                    <div class="price__label"> руб</div>
                  </div>
                </div>
                <div class="card-column__body">
                  <ul class="list list--ul list--ul-square">
                    <li>Именно столько на рынке составляет зарплата толкового бухгалтера с опытом не менее 5 лет.
                      Прибавьте к этой сумме налоги, страховые взносы, больничные, отпуска, амортизация места в
                      офисе, лицензионные программы для ведения бухгалтерии.
                      Получается не менее 70 000 р.</li>
                    <li>Бухгалтер может заболеть/уйти в отпуск/уволиться
                    </li>
                    <li>Штатный бухгалтер может совершить ошибку, не знать обо всех изменениях в законодательстве,
                      не справиться с большим объемом работы, что-то не успеть. Обычно бухгалтер просто увольняется,
                      если «пахнет жаренным».</li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="column-container__item card-column">
                  <div class="card-column__header">
                    <div class="card-column__title">Быть нашим клиентом:</div>
                    <div class="price price--accent price--large">
                      <div class="price__label">Цена - от </div>
                      <div class="price__unit">5 000</div>
                      <div class="price__label"> руб</div>
                    </div>
                  </div>
                  <div class="card-column__body">
                    <ul class="list list--ul list--ul-square">
                      <li>Даже если у вас большой объем работы с бухгалтерией и цена будет чуть выше, она все равно
                        оказывается меньше и выгоднее, чем общие расходы на содержание штатного бухгалтера. Затраты
                        на
                        нас уходят в расходы компании и уменьшают налоги.
                      </li>
                      <li>Мы не можем заболеть, уйти в отпуск и уволиться. Работу может подхватить другой
                        квалифицированный специалист, и вы этого даже не заметите.
                      </li>
                      <li>Если ошибка произошла по нашей вине, мы полностью компенсируем вам все затраты, связанные
                        с
                        ее устранением. Мы несем полную материальную ответственность за порядок в вашей бухгалтерии.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Как мы работаем</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small">
        <div class="uk-width-2-3@m">
          <div class="steps">
            <ol uk-grid class="uk-grid-small steps__list list-border-container list-border-container--inside uk-child-width-1-2 uk-grid">
              <li class="steps__item list-border-container__item uk-first-column">
                <div class="step step--decor">
                  <div class="step__title">Вы заказываете бухгалтерские услуги </div>
                  <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                    the
                    majority have</div>
                </div>
              </li>
              <li class="steps__item list-border-container__item">
                <div class="step step--decor step--bg">
                  <div class="step__title">С вами связывается менеджер </div>
                  <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                    the
                    majority have</div>
                </div>
              </li>
              <li class="steps__item list-border-container__item">
                <div class="step step--decor">
                  <div class="step__title">Заключаем договор</div>
                  <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                    the
                    majority have
                  </div>
                </div>
              </li>
              <li class="steps__item list-border-container__item">
                <div class="step step--decor">
                  <div class="step__title">Вам назначается бухгалтер</div>
                  <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                    the
                    majority have</div>
                </div>
              </li>
              <li class="steps__item list-border-container__item">
                <div class="step step--decor step--bg">
                  <div class="step__title">Вы передаете необходимые документы</div>
                  <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                    the
                    majority have</div>
                </div>
              </li>
              <li class="steps__item list-border-container__item">
                <div class="step step--decor">
                  <div class="step__title">Мы работаем с налоговой и фондами</div>
                  <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                    the
                    majority have</div>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="uk-width-1-3@m">
          <article class="card dark-theme card--accent card--contract">
            <div class="card__header">
              <div class="card__title card__title--uppercase bold">Заключить
                договор в 1 клик</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available, but the
              </div>
            </div>
            <div class="card__footer">
              <div class="card__btn">
                <a href="#" class="btn btn--secondary">Заключить договор</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section section--bg">
  <div class="uk-container section__container">
    <div class="section__body">
      {% include "template/consultation.html" %}
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-child-width-1-1">
      <div>
        <div class="large-card large-card--decor">
          <div class="large-card__header">
            <h3>Дополнительные выгоды работы с нами
            </h3>
          </div>
          <div class="large-card__body">
            <ul class="list list--ul list--ul-plus">
              <li>Мы можем помочь вам найти штатного помощника бухгалтера на зарплату в 25 тр., который будет
                достаточно
                адекватным, чтобы оперативно работать с первичкой и простыми задачами внутри компании. А функцию
                главного бухгалтера мы можем взять на себя, чтобы ваш бизнес был защищен перед проверяющими
                органами.
              </li>
              <li>У нас команда специалистов, которые профессионально решают любые задачи, например: кадровый учет,
                делопроизводство, проверка договоров и т.п. Один бухгалтер не может знать и успевать все. Команда
                может
                распределять задачи и решать их для вас эффективнее.</li>
              <li>Самая главная выгода: если по нашей вине произойдет ошибка и вам выпишут штраф, мы компенсируем
                затраты за свой счет. Ни один штатный бухгалтер не будет возмещать вам ущерб от своей ошибки или
                проблемы, которую он не смог решить с проверяющими органами. Он просто уволится.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div uk-grid class="uk-grid-small uk-child-width-1-1">
      <div>
        <div class="checkmate checkmate--bg">
          <div class="checkmate__description">
            <div class="checkmate__header">
              <h3 class="checkmate__title">Мы наведем порядок
                и защитим вашу компанию
              </h3>
            </div>
            <div class="checkmate__body">
              <p class="checkmate__lead">90% руководителей бизнеса даже не подозревают, какие ошибки
                и недоработки у них есть в бухгалтерии, которые чреваты огромными штрафами в случае проверки.</p>
              <p class="checkmate__lead">Хотите проверить? Скачайте проверочный список.
                Если из 10 вопросов вы ответите на 3 и более «не знаю»
                и «не уверен» - вы в группе риска.
              </p>
              <p>
                <a class="btn btn--secondary" href="#">Скачать проверочный список</a>
              </p>
            </div>
          </div>
          <div class="checkmate__image-container">
            <div class="checkmate__image">
              <img src="./img/frame28754.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="uk-grid-small uk-child-width-1-1">
      <div>
        <div class="large-card large-card--small">
          <div class="uk-grid uk-child-width-1-2@m">
            <div class="large-card__description">
              <h2>Клиенты доверяют нам</h2>
              <div class="large-card__subtitle">И мы полностью оправдываем это доверие</div>
              <div class="large-card__text">Клиенты «Time Asset» вкладывают деньги в свой бизнес, а не в оплату
                налоговых штрафов. Мы четко, быстро и безошибочно выполняем свою работу</div>
              <div class="large-card__link">
                <a href="#" class="link link--icon">
                  <div class="link__icon">{{mixins.icon('linkplus')}}</div><span>Читать полностью</span>
                </a>
              </div>
            </div>
            <div class="large-card__image">
              <div class="large-card__container-img">
                <img src="./img/open.png" alt="">
                <img src="./img/alfa.png" alt="">
                <img src="./img/psb.png" alt="">
                <img src="./img/tinkoff.png" alt="">
                <img src="./img/vtb.png" alt="">
                <img src="./img/tochka.png" alt="">
              </div>
            </div>
            <div class="large-card__link large-card__link--mobile">
              <a href="#" class="link link--icon">
                <div class="link__icon">{{mixins.icon('linkplus')}}</div><span>Читать полностью</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Отзывы наших клиентов</h2>
      </div>
      <div class="section__link">
        <a href="#" class="link">Смотрите все отзывы</a>
      </div>
    </div>
    <div class="section__body">
      <div class="slider uk-slider slider--arr-outside" uk-slider>
        <div class="uk-position-relative">
          <div class="slider__container uk-slider-container">
            <ul class="slider__list uk-slider-items uk-grid uk-grid-small">
              <li class="slider__item">
                <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
                  <div>
                    <div class="feedback__description">
                      <div>
                        <article class="person">
                          <div class="person__image">
                            <div class="person__img">
                              <img src="./img/ivanov.jpg" alt="product">
                            </div>
                          </div>
                          <div class="person__body">
                            <div class="person__name">Иван Иванов</div>
                            <div class="person__info">
                              <div class="person__post">Генеральный Директор</div>
                              <div class="person__company">ООО «Универсальная Проектная Сеть»</div>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="feedback__text">It is a long established fact that a reader will be distracted
                        by the
                        readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has
                        a more-or-less normal distribution of letters, as opposed to using 'Content here,
                        content here',
                        making it look like.
                      </div>
                      <div class="feedback__link">
                        <div>
                          <a href="#" class="link link--icon">
                            <div class="link__icon">{{mixins.icon('linkplus')}}</div><span>Читать полностью</span>
                          </a>
                        </div>
                        <div>
                          <a href="#" class="link link--icon">
                            <div class="link__icon">{{mixins.icon('linkdoc')}}</div><span>Оригинал отзыва</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div uk-lightbox class="feedback__video">
                      <a class="tile tile--play" href="https://www.youtube.com/watch?v=YE7VzlLtp-4">
                        <div class="tile__image">
                          <div class="tile__img">
                            <img src="./img/videoposter.png" alt="">
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="slider__item">
                <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
                  <div>
                    <div class="feedback__description">
                      <div>
                        <article class="person">
                          <div class="person__image">
                            <div class="person__img">
                              <img src="./img/ivanov.jpg" alt="product">
                            </div>
                          </div>
                          <div class="person__body">
                            <div class="person__name">Иван Иванов</div>
                            <div class="person__info">
                              <div class="person__post">Генеральный Директор</div>
                              <div class="person__company">ООО «Универсальная Проектная Сеть»</div>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="feedback__text">It is a long established fact that a reader will be distracted
                        by the
                        readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has
                        a more-or-less normal distribution of letters, as opposed to using 'Content here,
                        content here',
                        making it look like.
                      </div>
                      <div class="feedback__link">
                        <div>
                          <a href="#" class="link link--icon">
                            <div class="link__icon">{{mixins.icon('linkplus')}}</div><span>Читать полностью</span>
                          </a>
                        </div>
                        <div>
                          <a href="#" class="link link--icon">
                            <div class="link__icon">{{mixins.icon('linkdoc')}}</div><span>Оригинал отзыва</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div uk-lightbox class="feedback__video">
                      <a class="tile tile--play" href="https://www.youtube.com/watch?v=YE7VzlLtp-4">
                        <div class="tile__image">
                          <div class="tile__img">
                            <img src="./img/videoposter.png" alt="">
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="slider__item">
                <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
                  <div>
                    <div class="feedback__description">
                      <div>
                        <article class="person">
                          <div class="person__image">
                            <div class="person__img">
                              <img src="./img/ivanov.jpg" alt="product">
                            </div>
                          </div>
                          <div class="person__body">
                            <div class="person__name">Иван Иванов</div>
                            <div class="person__info">
                              <div class="person__post">Генеральный Директор</div>
                              <div class="person__company">ООО «Универсальная Проектная Сеть»</div>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="feedback__text">It is a long established fact that a reader will be distracted
                        by the
                        readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has
                        a more-or-less normal distribution of letters, as opposed to using 'Content here,
                        content here',
                        making it look like.
                      </div>
                      <div class="feedback__link">
                        <div>
                          <a href="#" class="link link--icon">
                            <div class="link__icon">{{mixins.icon('linkplus')}}</div><span>Читать полностью</span>
                          </a>
                        </div>
                        <div>
                          <a href="#" class="link link--icon">
                            <div class="link__icon">{{mixins.icon('linkdoc')}}</div><span>Оригинал отзыва</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div uk-lightbox class="feedback__video">
                      <a class="tile tile--play" href="https://www.youtube.com/watch?v=YE7VzlLtp-4">
                        <div class="tile__image">
                          <div class="tile__img">
                            <img src="./img/videoposter.png" alt="">
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <a class="slider__arr uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="slider__arr uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__body">
      <div uk-grid class="uk-grid-small uk-child-width-1-1">
        <div>
          <div class="large-card">
            <div class="large-card__header">
              <h2>Часто задаваемые вопросы</h2>
            </div>
            <div class="large-card__body">
              <ul uk-accordion class="questions">
                <li class="uk-open questions__item">
                  <a class="uk-accordion-title questions__title" href="#">Мы планировали взять штатного бухгалтера. В чем отличие и удобство бухгалтерского аутсорсинга?</a>
                  <div class="uk-accordion-content questions__content">
                    <p>Тариф рассчитывается индивидуально на каждого клиента и зависит от таких показателей, как количество бухгалтерских операций в месяц, количество сотрудников, система налогообложения, вид деятельности и др.</p>
                    <div class="questions__subtitle">Стоимость услуг:</div>
                    <ul class="list list--ul list--ul-dash">
                      <li>Бухгалтерское обслуживание
                      </li>
                      <li>Юридическое обслуживание
                      </li>
                      <li>Аудиторские услуги</li>
                    </ul>
                  </div>
                </li>
                <li class="questions__item">
                  <a class="uk-accordion-title questions__title" href="#">Работает ли центр с плательщиками торгового сбора? Как правильно оформить документы?</a>
                  <div class="uk-accordion-content questions__content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                      Duis aute irure dolor reprehenderit.</p>
                  </div>
                </li>
                <li class="questions__item">
                  <a class="uk-accordion-title questions__title" href="#">С какими налоговыми режимами работает центр?</a>
                  <div class="uk-accordion-content questions__content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                      pariatur.
                      Excepteur sint occaecat cupidatat proident.</p>
                  </div>
                </li>
                <li>
                  <a class="uk-accordion-title questions__title" href="#">Какие методы налоговой оптимизации применяются? Какие гарантии у клиента?</a>
                  <div class="uk-accordion-content questions__content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                      pariatur.
                      Excepteur sint occaecat cupidatat proident.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}