{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="uk-h3">Как принять и оформить иностранца на работу</h1>
      </div>
    </div>
    <div class="section__body uk-grid--small stock">
      <div class="stock__image-container  content-typography">
        <figure class="figure">
          <div class="figure__image">
            <div class="figure__img">
              <img src="./img/signature.png" alt="">
            </div>
          </div>
        </figure>
      </div>
      <div class="stock__description content-typography">
        <h2>Как принять и оформить иностранца на работу</h2>
        <p>Неблагоприятная обстановка экономическая или политическая обстановка в стране толкает любого гражданина искать государства с более благополучной экономической обстановкой.</p>
        <p>Все иностранцы, которые въезжают в любую страну, должны быть поставлены на учет в миграционную службу. По данным статистики в Российскую Федерацию в 2018 году количество иностранцев, которые оформили патенты для того, чтобы работать на территории России, составило 1544313 человек. Большинство иностранцев трудоустраивается в сфере строительства.</p>
        <p>В 2019 г. Минтруд ограничил количество работников, которых можно будет оформить официально. Доля иностранцев в организации рекомендовано, чтобы не превышало 80%.</p>
        <p>Ежегодно в сфере строительства растет количество работников-иностранцев. Поэтому любой работодатель, который принимает работника-иностранца, задумывается: как принять иностранца на работу. Как оформить иностранца, чтобы не привлечь пристальное внимание со стороны контролирующих органов</p>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__body">
      <div class="table-price-container">
        <div class="table-price">
          <div class="table-price__header">
            <div class="table-price__row">
              <div class="table-price__title table-price__gell table-price__gell--border">
                <p>Наименование</p>
              </div>
              <div class="table-price__title table-price__gell">
                <p>Стоимость</p>
              </div>
            </div>
          </div>
          <div class="table-price__body">
            <div class="table-price__row">
              <div class="table-price__gell table-price__gell--border">
                <p>Подготовка сведений по индивидуальному Персонифицированному учету</p>
              </div>
              <div class="table-price__gell">
                <p class="table-price__unit">3 000 - 15 000 руб</p>
                <p>(в зависимости от вида деятельности)</p>
              </div>
            </div>
            <div class="table-price__row">
              <div class="table-price__gell table-price__gell--border">
                <p>Подготовка сведений 2НДФЛ</p>
              </div>
              <div class="table-price__gell">
                <p class="table-price__unit">3 000 - 15 000 руб</p>
                <p>(в зависимости от наличия разногласий с ИФНС)</p>
              </div>
            </div>
            <div class="table-price__row">
              <div class="table-price__gell table-price__gell--border">
                <p>Подготовка Учетной политики</p>
              </div>
              <div class="table-price__gell">
                <p class="table-price__unit">150 руб</p>
                <p>(за документ)</p>
              </div>
            </div>
            <div class="table-price__row">
              <div class="table-price__gell table-price__gell--border">
                <p>Подготовка сведений по индивидуальному Персонифицированному учету</p>
              </div>
              <div class="table-price__gell">
                <p class="table-price__unit">3 000 - 15 000 руб</p>
                <p>(в зависимости от вида деятельности)</p>
              </div>
            </div>
            <div class="table-price__row">
              <div class="table-price__gell table-price__gell--border">
                <p>Подготовка сведений 2НДФЛ</p>
              </div>
              <div class="table-price__gell">
                <p class="table-price__unit">3 000 - 15 000 руб</p>
                <p>(в зависимости от наличия разногласий с ИФНС)</p>
              </div>
            </div>
            <div class="table-price__row">
              <div class="table-price__gell table-price__gell--border">
                <p>Подготовка сведений 2НДФЛ</p>
              </div>
              <div class="table-price__gell">
                <p class="table-price__unit">3 000 - 15 000 руб</p>
                <p>(в зависимости от наличия разногласий с ИФНС)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="button__container">
          <a class="btn  btn--secondary" type="submit"><span>Ознакомиться с договором</span></a>
          <a class="btn" type="submit"><span>Заключить договор</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Способы заключения договора</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-collapse uk-child-width-1-4@l uk-child-width-1-2@s">
        <div>
          <article href="#" class="card card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('paperdoc')}}</div>
              <div class="card__title bold">Подписание в бумажном
                виде</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
          </article>
        </div>
        <div>
          <article href="#" class="card card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('scan')}}</div>
              <div class="card__title bold">Путем обмена
                сканами
              </div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
          </article>
        </div>
        <div>
          <article class="card dark-theme card--accent">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('electronicdoc')}}</div>
              <div class="card__title bold">Электронный документооборот</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
            <div class="card__footer">
              <div class="card__btn">
                <a href="#" class="btn btn--secondary">Заключить договор</a>
              </div>
            </div>
          </article>
        </div>
        <div>
          <article href="#" class="card card--bg card--decor">
            <div class="card__header">
              <div class="card__icon">{{mixins.icon('payinvoice')}}</div>
              <div class="card__title bold">Путем оплаты первого счета</div>
            </div>
            <div class="card__body">
              <div class="card__description">There are many variations of passages of Lorem Ipsum available,
                but
                the
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--bg">
  <div class="uk-container section__container">
    <div class="section__body">
      {% include "template/consultation.html" %}
    </div>
  </div>
</section>
<section class="section uk-section">
  <div class="uk-container section__container">
    <div class="section__header section__header--centered">
      <div class="section__title section__title--centered">
        <h2>Преимущества компании</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small key-indicators uk-child-width-1-3@m">
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('experience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 10 лет опыта на рынке бухгалтерских услуг</div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('workexperience')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 5 лет средний стаж специалистов в нашей компании
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('penalties')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 0 штрафов от налоговой за несвоевременно сданную отчетность
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> 15 претензий урегулировано в сторону клиентов со стороны
                налоговой
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> Страховка от ошибок бухгалтера
                на 1 млн. рублей в год
              </div>
            </div>
          </div>
        </div>
        <div class="key-indicators__item">
          <div class="key-indicator key-indicator--decor">
            <div class="key-indicator__header">
              <div class="key-indicator__icon">{{mixins.icon('mens')}}</div>
            </div>
            <div class="key-indicator__body">
              <div class="key-indicator__description"> >75% аутсорсинг бухгалтерии выгоднее, чем содержание штата
                бухгалтеров
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--bordered-vertical">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Блог</h2>
      </div>
      <div class="section__link">
        <a href="#" class="link">Показать все</a>
      </div>
    </div>
    <div class="section__body">
      <div class="slider uk-slider slider--arr-outside" uk-slider>
        <div class="uk-position-relative">
          <div class="slider__container uk-slider-container">
            <ul class="slider__list uk-slider-items uk-grid uk-grid-small uk-child-width-1-3@m">
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image23.jpg" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерского учета в агентствах недвижимости</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image27.png" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерской документации фитнес-залов</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image26.png" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Если юридическое лицо не подает признаков жизни</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image23.jpg" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерского учета в агентствах недвижимости</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slider__item">
                <div class="card-logo">
                  <div class="card-logo__image">
                    <div class="card-logo__img">
                      <img src="./img/vtb.png" alt="" width="600" height="600">
                    </div>
                  </div>
                </div>
              </li>
              <li class="slider__item">
                <a class="tile">
                  <div class="tile__image">
                    <div class="tile__img">
                      <img src="./img/image27.png" alt="">
                    </div>
                  </div>
                  <div class="tile__body">
                    <div class="tile__description">
                      <span>Особенности бухгалтерской документации фитнес-залов</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <a class="slider__arr uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="slider__arr uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}