{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
<style>
  p {
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn+.btn {
    margin-bottom: 5px;
  }
</style>
<section class="uk-section-small section">
  <div class="uk-container">
    <div class="section__header">
      <div class="section__title">
        <h2>Elements from the project</h2>
      </div>
      <div class="section__subtitle">
        <p>Lead</p>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small uk-child-width-1-1">
        <div>
          <h3>Breadcrumbs</h3>
          <div class="breadcrumbs scrollbar">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Главная</a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Каталог</a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Люстры</a>
              </li>
              <li class="breadcrumbs__item">
                <span class="breadcrumbs__link">Реечный подвесной светильник в индустриальном стиле с 4 плафонами
                  Urban</span>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h3>Headings</h3>
          <div>
            <h1 style="margin-bottom: 10px;">Header h1</h1>
            <h2 style="margin-bottom: 10px;">Header h2</h2>
            <h3 style="margin-bottom: 10px;">Header h3</h3>
            <h3 class="semi-bold" style="margin-bottom: 10px;">Header h3</h3>
            <h4 style="margin-bottom: 10px;">Header h4</h4>
            <h4 class="semi-bold" style="margin-bottom: 10px;">Header h4</h4>
            <p style="margin-bottom: 10px;">Text</p>
            <p style="margin-bottom: 10px;" class="text-small">Text small</p>
            <p style="margin-bottom: 10px;" class="text-lead">Text lead</p>
            <p style="margin-bottom: 10px;" class="text-is-highlighted">Text highlighted</p>
          </div>
        </div>
        <div>
          <h3>Scrollbar vertical</h3>
          <div style="width: 100%; height: 300px; display: flex; flex-wrap: wrap; align-items: flex-start; gap: 30px"
            class="scrollbar">
            images
          </div>
        </div>
        <div>
          <h3>Scrollbar horizontal</h3>
          <div style="width: 650px; height: 100px;" class="scrollbar">
            <p style="width: 700px">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Officia, deleniti rerum
              cupiditate, ab consequatur perferendis iste quas ipsa in odio cumque enim earum. Ipsa, eaque. Quos,
              incidunt
              expedita dolorum necessitatibus.</p>
          </div>
        </div>
        <div>
          <h3>Icons</h3>
          <div
            style="background: #333; padding: 10px; display: flex; align-items: center; font-size: 30px; color: #fff; gap: 10px">
            {{mixins.icon('arrow-left')}}
            {{mixins.icon('cross')}}
            {{mixins.icon('phone')}}
            {{mixins.icon('search')}}
            {{mixins.icon('user')}}
            {{mixins.icon('calc')}}
            {{mixins.icon('local')}}
            {{mixins.icon('wtsp')}}
            {{mixins.icon('tg')}}
          </div>
          <div
            style="background: #333; padding: 10px; display: flex; align-items: center; font-size: 30px; color: #fff; gap: 10px">
            {{mixins.icon('audit')}}
            {{mixins.icon('buh')}}
            {{mixins.icon('cons')}}
            {{mixins.icon('ur')}}
          </div>
          <div
            style="background: #333; padding: 10px; display: flex; align-items: center; font-size: 30px; color: #fff; gap: 10px">
            {{mixins.icon('paperdoc')}}
            {{mixins.icon('scan')}}
            {{mixins.icon('electronicdoc')}}
            {{mixins.icon('payinvoice')}}
            {{mixins.icon('experience')}}
            {{mixins.icon('workexperience')}}
            {{mixins.icon('penalties')}}
            {{mixins.icon('mens')}}
            {{mixins.icon('activetime')}}
            {{mixins.icon('calc-large')}}
            {{mixins.icon('cup')}}
            {{mixins.icon('folder')}}
            {{mixins.icon('chat')}}
            {{mixins.icon('scales')}}
            {{mixins.icon('chart')}}
          </div>
          <div class="uk-width-1-2">
            <h3>List ul</h3>
            <div style="margin-bottom: 20px;">
              <ul class="list list--ul list--ul-dash">
                <li>Именно столько на рынке составляет зарплата толкового бухгалтера с опытом не менее 5 лет.
                  Прибавьте к этой сумме налоги, страховые взносы, больничные, отпуска, амортизация места в офисе,
                  лицензионные программы для ведения бухгалтерии.
                  Получается не менее 70 000 р.</li>
                <li>По фото помещений</li>
                <li>По эскизу и пожеланиям</li>
              </ul>
            </div>
            <div style="margin-bottom: 20px;">
              <ul class="list list--ul list--ul-square">
                <li>Именно столько на рынке составляет зарплата толкового бухгалтера с опытом не менее 5 лет.
                  Прибавьте к этой сумме налоги, страховые взносы, больничные, отпуска, амортизация места в офисе,
                  лицензионные программы для ведения бухгалтерии.
                  Получается не менее 70 000 р.</li>
                <li>По фото помещений</li>
                <li>По эскизу и пожеланиям</li>
              </ul>
            </div>
            <div style="margin-bottom: 20px;">
              <ul class="list list--ul list--ul-plus">
                <li>Мы можем помочь вам найти бухгалтера
                </li>
                <li>Мы можем помочь вам найти штатного помощника бухгалтера на зарплату в 25 тр., который будет
                  достаточно адекватным, чтобы оперативно работать с первичкой и простыми задачами внутри компании. А
                  функцию главного бухгалтера мы можем взять на себя, чтобы ваш бизнес был защищен перед проверяющими
                  органами.
                </li>
                <li>Мы можем помочь вам найти штатного помощника бухгалтера на зарплату в 25 тр., который будет
                  достаточно адекватным, чтобы оперативно работать с первичкой и простыми задачами внутри компании. А
                  функцию главного бухгалтера мы можем взять на себя, чтобы ваш бизнес был защищен перед проверяющими
                  органами.
                </li>
              </ul>
            </div>
          </div>
          <div class="uk-width-1-2">
            <h3>List ol</h3>
            <div>
              <ol class="list list--ol">
                <li>Едем до метро Савёловская.
                </li>
                <li>Из стеклянных дверей выходим направо и по ступенькам поднимаемся к выходу на поверхность. При выходе
                  на поверхность перед собой видим вход на территорию Савёловского вокзала (турникеты).
                </li>
                <li>Огибаем справа вход в метро и идём в сторону, противоположную входу на территорию Савёловского
                  вокзала, то есть удаляемся от турникетов в противоположном направлении. Идём через регулируемый
                  светофором пешеходный переход, далее по небольшому подъёму идём на мост через ж/д пути.
                </li>
                <li>Поднявшись на мост, идём налево. Внизу под мостом видим ж/д пути МЦД-1.
                </li>
                <li>Идем до конца дома № 3/5А (это первый и единственный дом, который нужно пройти), поворачиваем
                  налево, идём далее вниз по улице примерно 20 метров и упираемся в калитку.
                </li>
                <li>Вы на месте. Для прохода в офис нужно позвонить (нажать на звонок, расположенный на калитке).
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2">
          <h3>Price</h3>
          <div>
            <div class="price">
              <div class="price__label">от </div>
              <div class="price__unit">5 500</div>
              <div class="price__label"> руб/мес</div>
            </div>
          </div>
          <div style="margin-top: 20px">
            <div class="price price--accent">
              <div class="price__label">Итого: </div>
              <div class="price__unit">25 000</div>
              <div class="price__label"> рублей</div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-2">
        <div>
          <h3>Link</h3>
          <div uk-grid class="uk-grid-small uk-child-width-1-2">
            <div>
              <p><a href="#" class="link">Link</a></p>
              <p><a href="#" class="link link--bordered">Читать дальше</a></p>
            </div>
          </div>
        </div>
        <div>
          <h3>Btns</h3>
          <div uk-grid class="uk-grid-small uk-child-width-1-2">
            <div>
              <button class="btn" type="submit"><span>Button</span></button>
              <button class="btn btn--secondary" type="submit"><span>Button</span></button>
            </div>
          </div>
        </div>
        <div>
          <h3>Short btns</h3>
          <div>
            <a class="btn" href="#" role="button"><span>Link</span></a> &nbsp;
            <button class="btn" type="submit"><span>Button</span></button> &nbsp;
            <input class="btn" type="button" value="Input" /> &nbsp;
            <input class="btn" type="submit" value="Submit" /> &nbsp;
            <input class="btn" type="reset" value="Reset" /> &nbsp;
          </div>
        </div>
        <div>
          <h3>Primary btns</h3>
          <div>
            <a class="btn btn--primary" href="#" role="button"><span>Link</span></a>
            <button class="btn btn--primary" type="submit"><span>Button</span></button>
            <input class="btn btn--primary" type="button" value="Input" />
            <input class="btn btn--primary" type="submit" value="Submit" />
            <input class="btn btn--primary" type="reset" value="Reset" />
          </div>
        </div>
        <div>
          <h3>Secondary btns</h3>
          <div style="padding: 10px;">
            <a class="btn btn--secondary" href="#" role="button"><span>Link</span></a>
            <button class="btn btn--secondary" type="submit"><span>Button</span></button>
            <input class="btn btn--secondary" type="button" value="Input" />
            <input class="btn btn--secondary" type="submit" value="Submit" />
            <input class="btn btn--secondary" type="reset" value="Reset" />
          </div>
          <div class="dark-theme" style="background-color: var(--primary); padding: 10px;">
            <a class="btn btn--secondary" href="#" role="button"><span>Link</span></a>
            <button class="btn btn--secondary" type="submit"><span>Button</span></button>
            <input class="btn btn--secondary" type="button" value="Input" />
            <input class="btn btn--secondary" type="submit" value="Submit" />
            <input class="btn btn--secondary" type="reset" value="Reset" />
          </div>
        </div>
        <div>
          <h3>Fixed btns</h3>
          <div>
            <a class="btn btn--is-fixed" href="#" role="button"><span>Link</span></a>
            <button class="btn btn--is-fixed" type="submit"><span>Button</span></button>
            <input class="btn btn--is-fixed" type="button" value="Input" />
            <input class="btn btn--is-fixed" type="submit" value="Submit" />
            <input class="btn btn--is-fixed" type="reset" value="Reset" />
          </div>
        </div>
        <div>
          <h3>100% btn</h3>
          <p>
            <a class="btn uk-width-1-1" href="#" role="button"><span>Link</span></a>
          </p>
          <p>
            <button class="btn uk-width-1-1" type="submit"><span>Button</span></button>
          </p>
          <p>
            <input class="btn uk-width-1-1" type="button" value="Input" />
          </p>
          <p>
            <input class="btn uk-width-1-1" type="submit" value="Submit" />
          </p>
          <p>
            <input class="btn uk-width-1-1" type="reset" value="Reset" />
          </p>
        </div>
        <div>
          <h3>
            Btn statements
          </h3>
          <div>
            <input class="btn btn--primary btn--is-disabled" type="button" value="Disabled" disabled />
            <input class="btn btn--secondary btn--is-disabled" type="button" value="Disabled" disabled />
          </div>
        </div>
      </div>
      <div uk-grid class="uk-grid-small uk-child-width-1-2">
        <div>
          <h3>Checkbox & Checkbox-confirm</h3>
          <div uk-grid class="uk-grid-small uk-child-width-1-2">
            <div>
              <label class="checkbox">
                <div class="checkbox__label">
                  <input type="checkbox" class="checkbox__input" value="3" />
                  <span class="checkbox__mark"></span>
                  <div class="checkbox__text">
                    Для личных целей
                  </div>
                </div>
              </label>
            </div>
            <div>
              <label class="checkbox checkbox--confirm">
                <div class="checkbox__label">
                  <input type="checkbox" class="checkbox__input" value="3" />
                  <span class="checkbox__mark"></span>
                  <div class="checkbox__text">
                    Нажимая на кнопку вы соглашаетесь с <a href="#" class="link">политикой конфиденциальности</a>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div>
          <h3>Radio</h3>
          <fieldset id="radio">
            <div uk-grid class="uk-grid-small uk-child-width-1-2">
              <div>
                <label class="radio">
                  <div class="radio__label">
                    <input type="radio" class="radio__input" value="1" name="radio" />
                    <span class="radio__mark"></span>
                    <div class="radio__text">
                      Для личных целей
                    </div>
                  </div>
                </label>
              </div>
              <div>
                <label class="radio radio--as-checkbox">
                  <div class="radio__label">
                    <input type="radio" class="radio__input" value="1" name="radio" />
                    <span class="radio__mark"></span>
                    <div class="radio__text">
                      Для личных целей
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div>
          <h3>Input</h3>
          <form action="" class="form">
            <div class="form__body">
              <div class="form__item">
                <label class="form__label">
                  <span>Наименование компании</span>
                  <div class="input input--error">
                    <input type="text" class="input__field" placeholder="Наименование компании">
                  </div>
                </label>
              </div>
              <div class="form__item">
                <label class="form__label">
                  <span>Контактное лицо</span>
                  <div class="input input--success">
                    <input type="text" class="input__field" placeholder="Контактное лицо">
                  </div>
                </label>
              </div>
              <div class="form__item">
                <label class="form__label">
                  <span>Ваш телефон</span>
                  <div class="input input--active">
                    <input type="text" class="input__field" placeholder="+7(___) ___ - __ - __">
                  </div>
                </label>
              </div>
              <div class="form__item">
                <label class="form__label">
                  <span>E-mail</span>
                  <div class="input">
                    <input type="email" class="input__field" placeholder="E-mail">
                  </div>
                </label>
              </div>
              <div class="form__item">
                <label class="form__label">
                  <span>Пароль</span>
                  <div class="input">
                    <input type="text" class="input__field" placeholder="Пароль">
                  </div>
                </label>
              </div>
              <div class="form__item">
                <label class="form__label">
                  <span>Повторите пароль</span>
                  <div class="input">
                    <input type="text" class="input__field" placeholder="Повторите пароль">
                  </div>
                </label>
              </div>
              <div class="form__item">
                <div class="custom-file-upload input">
                  <input type="file" id="file" name="myfiles[]" multiple />
                </div>
              </div>
            </div>
            <div class="form__footer">
              <div class="form__item">
                <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
                  <div>
                    <div class="form__btn">
                      <button class="btn btn--primary uk-width-1-1" role="button">
                        <span>Стать партнером</span>
                      </button>
                    </div>
                  </div>
                  <div>
                    <div class="form__btn">
                      <a class="btn btn--secondary uk-width-1-1" href="/">
                        <span>Отмена</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small uk-child-width-1-1">
        <div>
          <h3>list-border-container</h3>
          <div uk-grid class="uk-grid-small list-border-container uk-child-width-1-2@m">
            <div class="list-border-container__item">
              <div class="key-indicator">
                <div class="key-indicator__header">
                  <div class="key-indicator__icon">icon</div>
                </div>
                <div class="key-indicator__body">
                  <div class="key-indicator__description">Следим за трендами рынка. Даем профессиональные рекомендации
                    по стилевому соответствию.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3>Inside</h3>
          <div uk-grid class="uk-grid-small list-border-container list-border-container--inside uk-child-width-1-2@m">
            <div class="list-border-container__item">
              <div class="key-indicator">
                <div class="key-indicator__header">
                  <div class="key-indicator__icon">icon</div>
                </div>
                <div class="key-indicator__body">
                  <div class="key-indicator__description">Следим за трендами рынка. Даем профессиональные рекомендации
                    по стилевому соответствию.</div>
                </div>
              </div>
            </div>
            <div class="list-border-container__item">
              <div class="key-indicator">
                <div class="key-indicator__header">
                  <div class="key-indicator__icon">icon</div>
                </div>
                <div class="key-indicator__body">
                  <div class="key-indicator__description">Следим за трендами рынка. Даем профессиональные рекомендации
                    по стилевому соответствию.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3>Full</h3>
          <div uk-grid class="uk-grid-small list-border-container list-border-container--full uk-child-width-1-2@m">
            <div class="list-border-container__item">
              <div class="key-indicator">
                <div class="key-indicator__header">
                  <div class="key-indicator__icon">icon</div>
                </div>
                <div class="key-indicator__body">
                  <div class="key-indicator__description">Следим за трендами рынка. Даем профессиональные рекомендации
                    по стилевому соответствию.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small uk-child-width-1-1">
        <div>
          <h3>Card card--bg card--accent card--centered</h3>
          <div uk-grid class="uk-grid-small uk-child-width-1-4">
            <div>
              <a href="#" class="card card--decor">
                <div class="card__header">
                  <div class="card__icon">{{mixins.icon('paperdoc')}}</div>
                  <div class="card__title bold">Подписание в бумажном
                    виде</div>
                </div>
                <div class="card__body">
                  <div class="card__description">There are many variations of passages of Lorem Ipsum available, but the
                  </div>
                </div>
              </a>
            </div>
            <div>
              <article href="#" class="card card--bg card--decor">
                <div class="card__header">
                  <div class="card__icon">{{mixins.icon('paperdoc')}}</div>
                  <div class="card__title bold">Подписание в бумажном
                    виде</div>
                </div>
                <div class="card__body">
                  <div class="card__description">There are many variations of passages of Lorem Ipsum available, but the
                  </div>
                </div>
              </article>
            </div>
            <div>
              <article class="card dark-theme card--accent">
                <div class="card__header">
                  <div class="card__icon">{{mixins.icon('paperdoc')}}</div>
                  <div class="card__title bold">Подписание в бумажном
                    виде</div>
                </div>
                <div class="card__body">
                  <div class="card__description">There are many variations of passages of Lorem Ipsum available, but the
                  </div>
                </div>
                <div class="card__footer">
                  <div class="card__btn">
                    <a href="#" class="btn btn--secondary">Заключить договор</a>
                  </div>
                </div>
              </article>
            </div>
            <div>
              <article class="card card--centered">
                <div class="card__header">
                  <div class="card__icon">{{mixins.icon('cup')}}</div>
                  <div class="card__title bold">Актив Основной</div>
                </div>
                <div class="card__body">
                  <div class="card__description">There are many variations of passages of Lorem Ipsum available, but the
                  </div>
                  <div class="card__price">
                    <div class="price">
                      <div class="price__label">от </div>
                      <div class="price__unit">5 500</div>
                      <div class="price__label"> руб/мес</div>
                    </div>
                  </div>
                </div>
                <div class="card__footer">
                  <div class="card__btn">
                    <a href="#" class="btn btn--primary">Заключить договор</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div>
          <h3>Key-indicators</h3>
          <div uk-grid class="uk-grid-small key-indicators uk-child-width-1-3@m">
            <div class="key-indicators__item">
              <div class="key-indicator key-indicator--decor">
                <div class="key-indicator__header">
                  <div class="key-indicator__icon">{{mixins.icon('experience')}}</div>
                </div>
                <div class="key-indicator__body">
                  <div class="key-indicator__description"> 10 лет
                    опыта на рынке
                    бухгалтерских услуг</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3>Tile</h3>
          <div uk-grid class="uk-grid-small uk-child-width-1-3@m">
            <div>
              <a class="tile">
                <div class="tile__image">
                  <div class="tile__img">
                    <img src="./img/image23.jpg" alt="">
                  </div>
                </div>
                <div class="tile__body">
                  <div class="tile__description">
                    <span>Особенности бухгалтерского учета в агентствах недвижимости</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3>Person</h3>
          <div uk-grid class="uk-grid-small uk-child-width-1-4@m">
            <div>
              <article class="person person--vertical person--decor">
                <div class="person__image">
                  <div class="person__img">
                    <img src="./img/victoria.jpg" alt="product">
                  </div>
                </div>
                <div class="person__body">
                  <div class="person__name">Виктория Жукова</div>
                  <div class="person__info">
                    <p class="person__post">Главный бухгалтер</p>
                    <p class="person__experience">Опыт работы 16 лет</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
            <div>
              <article class="person">
                <div class="person__image">
                  <div class="person__img">
                    <img src="./img/ivanov.jpg" alt="product">
                  </div>
                </div>
                <div class="person__body">
                  <div class="person__name">Иван Иванов</div>
                  <div class="person__info">
                    <div class="person__post">Генеральный Директор</div>
                    <div class="person__company">ООО «Уневерсальная Проектная Сеть»</div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div>
          <h3>Steps</h3>
          <div uk-grid class="uk-grid-small uk-child-width-2-3">
            <div class="steps">
              <ol uk-grid class="uk-grid-small steps__list list-border-container list-border-container--inside uk-child-width-1-2 uk-grid">
                <li class="steps__item list-border-container__item uk-first-column">
                  <div class="step step--decor">
                    <div class="step__title">Вы заказываете бухгалтерские услуги </div>
                    <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                      the
                      majority have</div>
                  </div>
                </li>
                <li class="steps__item list-border-container__item">
                  <div class="step step--decor step--bg">
                    <div class="step__title">С вами связывается менеджер </div>
                    <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                      the
                      majority have</div>
                  </div>
                </li>
                <li class="steps__item list-border-container__item">
                  <div class="step step--decor">
                    <div class="step__title">Заключаем договор</div>
                    <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                      the
                      majority have
                    </div>
                  </div>
                </li>
                <li class="steps__item list-border-container__item">
                  <div class="step step--decor">
                    <div class="step__title">Вам назначается бухгалтер</div>
                    <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                      the
                      majority have</div>
                  </div>
                </li>
                <li class="steps__item list-border-container__item">
                  <div class="step step--decor step--bg">
                    <div class="step__title">Вы передаете необходимые документы</div>
                    <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                      the
                      majority have</div>
                  </div>
                </li>
                <li class="steps__item list-border-container__item">
                  <div class="step step--decor">
                    <div class="step__title">Мы работаем с налоговой и фондами</div>
                    <div class="step__content">There are many variations of passages of Lorem Ipsum available, but
                      the
                      majority have</div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
</section>
{% include "template/footer.html" %}